NodeRed/flow.json
[
    {
        "id": "764f6e45.e7adc",
        "type": "tab",
        "label": "Dashboard",
        "disabled": false,
        "info": ""
    },
    {
        "id": "f6936c83.b4d89",
        "type": "tab",
        "label": "Drift",
        "disabled": false,
        "info": ""
    },
    {
        "id": "e0bb42c0.ed456",
        "type": "tab",
        "label": "Automated Train",
        "disabled": false,
        "info": ""
    },
    {
        "id": "5dea54b.a72c0ac",
        "type": "tab",
        "label": "MQTT Topics",
        "disabled": false,
        "info": ""
    },
    {
        "id": "226498da.550cc8",
        "type": "tab",
        "label": "Deserialize Data",
        "disabled": false,
        "info": ""
    },
    {
        "id": "4ec1e0b2.84c9d",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "35fc1b37.d7e0b4",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "cmw.ext.innovarail.indra.es",
        "port": "8886",
        "tls": "",
        "clientid": "",
        "usetls": true,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "b18f6b95.b3cb98",
        "type": "ui_tab",
        "z": "",
        "name": "Train Infos",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "60d271c9.e1b48",
        "type": "ui_group",
        "z": "",
        "name": "Infos",
        "tab": "b18f6b95.b3cb98",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "92a12888.6613a8",
        "type": "ui_group",
        "z": "",
        "name": "Power",
        "tab": "b18f6b95.b3cb98",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "aa4688b0.c10b38",
        "type": "ui_group",
        "z": "",
        "name": "Brake",
        "tab": "b18f6b95.b3cb98",
        "order": 6,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "185cc442.5e938c",
        "type": "ui_group",
        "z": "",
        "name": "Doors",
        "tab": "b18f6b95.b3cb98",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "2d21233f.494c5c",
        "type": "ui_group",
        "z": "",
        "name": "Speed",
        "tab": "b18f6b95.b3cb98",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "c0e9e5eb.674658",
        "type": "ui_group",
        "z": "",
        "name": "Drift",
        "tab": "e694a216.d18f8",
        "order": 6,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "e694a216.d18f8",
        "type": "ui_tab",
        "z": "",
        "name": "Train Drift",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "32bc742a.4f852c",
        "type": "ui_group",
        "z": "",
        "name": "Stations",
        "tab": "b18f6b95.b3cb98",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "8353f5b9.1e6d48",
        "type": "ui_group",
        "z": "",
        "name": "Accelerometer",
        "tab": "aaa1469a.b72008",
        "order": 7,
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "aaa1469a.b72008",
        "type": "ui_tab",
        "z": "",
        "name": "Indra",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "ffd445ba.5e9498",
        "type": "ui_group",
        "z": "",
        "name": "Control",
        "tab": "aaa1469a.b72008",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "97e87320.fb096",
        "type": "ui_group",
        "z": "",
        "name": "Generic",
        "tab": "aaa1469a.b72008",
        "order": 7,
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "ab38f54a.53ffd8",
        "type": "ui_group",
        "z": "",
        "name": "Positionning",
        "tab": "aaa1469a.b72008",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "922cfd03.b3777",
        "type": "ui_group",
        "z": "",
        "name": "Others",
        "tab": "aaa1469a.b72008",
        "order": 7,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "1e74c995.9a7696",
        "type": "ui_button",
        "z": "e0bb42c0.ed456",
        "name": "",
        "group": "60d271c9.e1b48",
        "order": 8,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Start Train",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 130,
        "y": 340,
        "wires": [
            [
                "667c8ae3.4f8fc4"
            ]
        ]
    },
    {
        "id": "34839031.61f44",
        "type": "mqtt in",
        "z": "e0bb42c0.ed456",
        "name": "",
        "topic": "train/sensors/doorsLeft",
        "qos": "0",
        "datatype": "auto",
        "broker": "35fc1b37.d7e0b4",
        "x": 140,
        "y": 40,
        "wires": [
            [
                "da319058.1e625"
            ]
        ]
    },
    {
        "id": "3b23c424.6dee1c",
        "type": "mqtt in",
        "z": "e0bb42c0.ed456",
        "name": "",
        "topic": "train/sensors/doorsRight",
        "qos": "0",
        "datatype": "auto",
        "broker": "35fc1b37.d7e0b4",
        "x": 150,
        "y": 100,
        "wires": [
            [
                "eadc0567.dca508"
            ]
        ]
    },
    {
        "id": "9f096b21.b36868",
        "type": "change",
        "z": "e0bb42c0.ed456",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "doorsLeft",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "882eec58.7ff3e",
        "type": "change",
        "z": "e0bb42c0.ed456",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "doorsRight",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 530,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "667c8ae3.4f8fc4",
        "type": "switch",
        "z": "e0bb42c0.ed456",
        "name": "door left check",
        "property": "doorsLeft",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "Closed",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Mixed",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Opened",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 330,
        "y": 340,
        "wires": [
            [
                "6163b51f.01e56c",
                "f0ca52d8.30ec6"
            ],
            [
                "5b0c803b.7ce76"
            ],
            [
                "1851a84e.f18f08",
                "5b0c803b.7ce76"
            ]
        ]
    },
    {
        "id": "6163b51f.01e56c",
        "type": "switch",
        "z": "e0bb42c0.ed456",
        "name": "door right check",
        "property": "doorsRight",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "Closed",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Mixed",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Opened",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 580,
        "y": 340,
        "wires": [
            [
                "5e36f2b2.f566bc",
                "2771c156.0d43be"
            ],
            [
                "e398e341.a83c3"
            ],
            [
                "83f6b277.41244",
                "e398e341.a83c3"
            ]
        ]
    },
    {
        "id": "5e36f2b2.f566bc",
        "type": "switch",
        "z": "e0bb42c0.ed456",
        "name": "check reverser",
        "property": "reverser",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "Forwards",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 810,
        "y": 340,
        "wires": [
            [
                "9ade527a.4b9de"
            ],
            [
                "3e04d8bd.976e58",
                "9ade527a.4b9de",
                "b5dfe1f8.ec306"
            ]
        ]
    },
    {
        "id": "1851a84e.f18f08",
        "type": "mqtt out",
        "z": "e0bb42c0.ed456",
        "name": "",
        "topic": "train/actuators/doorsLeft",
        "qos": "",
        "retain": "",
        "broker": "35fc1b37.d7e0b4",
        "x": 330,
        "y": 400,
        "wires": []
    },
    {
        "id": "5b0c803b.7ce76",
        "type": "delay",
        "z": "e0bb42c0.ed456",
        "name": "",
        "pauseType": "delay",
        "timeout": "50",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 330,
        "y": 220,
        "wires": [
            [
                "667c8ae3.4f8fc4"
            ]
        ]
    },
    {
        "id": "e398e341.a83c3",
        "type": "delay",
        "z": "e0bb42c0.ed456",
        "name": "",
        "pauseType": "delay",
        "timeout": "50",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 590,
        "y": 260,
        "wires": [
            [
                "6163b51f.01e56c"
            ]
        ]
    },
    {
        "id": "83f6b277.41244",
        "type": "mqtt out",
        "z": "e0bb42c0.ed456",
        "name": "",
        "topic": "train/actuators/doorsRight",
        "qos": "",
        "retain": "",
        "broker": "35fc1b37.d7e0b4",
        "x": 590,
        "y": 400,
        "wires": []
    },
    {
        "id": "3e04d8bd.976e58",
        "type": "mqtt out",
        "z": "e0bb42c0.ed456",
        "name": "",
        "topic": "train/actuators/reverserForward",
        "qos": "",
        "retain": "",
        "broker": "35fc1b37.d7e0b4",
        "x": 890,
        "y": 400,
        "wires": []
    },
    {
        "id": "c889d4eb.2f37c8",
        "type": "switch",
        "z": "e0bb42c0.ed456",
        "name": "check brake",
        "property": "brake",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 270,
        "y": 600,
        "wires": [
            [
                "d9aad3be.840f4",
                "6f057a3.906f984"
            ],
            [
                "662ca20b.ab81bc",
                "98c6d08a.30511"
            ]
        ]
    },
    {
        "id": "db005c5b.3f569",
        "type": "change",
        "z": "e0bb42c0.ed456",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "brake",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 940,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "dd84519c.3e1d6",
        "type": "mqtt in",
        "z": "e0bb42c0.ed456",
        "name": "",
        "topic": "train/sensors/brake",
        "qos": "0",
        "datatype": "auto",
        "broker": "35fc1b37.d7e0b4",
        "x": 750,
        "y": 40,
        "wires": [
            [
                "db005c5b.3f569"
            ]
        ]
    },
    {
        "id": "d9aad3be.840f4",
        "type": "switch",
        "z": "e0bb42c0.ed456",
        "name": "check power",
        "property": "power",
        "propertyType": "flow",
        "rules": [
            {
                "t": "lt",
                "v": "3",
                "vt": "num"
            },
            {
                "t": "gt",
                "v": "3",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 570,
        "y": 600,
        "wires": [
            [
                "ba0e977c.862058",
                "42b87f79.622cd"
            ],
            [
                "df0f409.168c6c",
                "4b1b44b.5bb33bc"
            ]
        ]
    },
    {
        "id": "ba0e977c.862058",
        "type": "mqtt out",
        "z": "e0bb42c0.ed456",
        "name": "",
        "topic": "train/actuators/powerUp",
        "qos": "",
        "retain": "",
        "broker": "35fc1b37.d7e0b4",
        "x": 1010,
        "y": 660,
        "wires": []
    },
    {
        "id": "662ca20b.ab81bc",
        "type": "mqtt out",
        "z": "e0bb42c0.ed456",
        "name": "",
        "topic": "train/actuators/brakeDecrease",
        "qos": "",
        "retain": "",
        "broker": "35fc1b37.d7e0b4",
        "x": 290,
        "y": 660,
        "wires": []
    },
    {
        "id": "98c6d08a.30511",
        "type": "delay",
        "z": "e0bb42c0.ed456",
        "name": "",
        "pauseType": "delay",
        "timeout": "50",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 290,
        "y": 520,
        "wires": [
            [
                "c889d4eb.2f37c8"
            ]
        ]
    },
    {
        "id": "42b87f79.622cd",
        "type": "delay",
        "z": "e0bb42c0.ed456",
        "name": "",
        "pauseType": "delay",
        "timeout": "50",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 590,
        "y": 520,
        "wires": [
            [
                "d9aad3be.840f4"
            ]
        ]
    },
    {
        "id": "394f03c7.2a332c",
        "type": "ui_toast",
        "z": "e0bb42c0.ed456",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "topic": "Train started",
        "name": "Train Started",
        "x": 1130,
        "y": 600,
        "wires": []
    },
    {
        "id": "5c4e0050.1634",
        "type": "mqtt in",
        "z": "e0bb42c0.ed456",
        "name": "",
        "topic": "train/sensors/power",
        "qos": "0",
        "datatype": "auto",
        "broker": "35fc1b37.d7e0b4",
        "x": 730,
        "y": 100,
        "wires": [
            [
                "79c9242d.02814c"
            ]
        ]
    },
    {
        "id": "33b936ae.3c562a",
        "type": "change",
        "z": "e0bb42c0.ed456",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "power",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1080,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "79c9242d.02814c",
        "type": "function",
        "z": "e0bb42c0.ed456",
        "name": "parseInt",
        "func": "msg.payload = parseInt(msg.payload)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 910,
        "y": 100,
        "wires": [
            [
                "33b936ae.3c562a"
            ]
        ]
    },
    {
        "id": "72c3d871.f51bc8",
        "type": "mqtt in",
        "z": "e0bb42c0.ed456",
        "name": "",
        "topic": "train/sensors/reverser",
        "qos": "2",
        "datatype": "auto",
        "broker": "35fc1b37.d7e0b4",
        "x": 140,
        "y": 160,
        "wires": [
            [
                "830e7910.85f328"
            ]
        ]
    },
    {
        "id": "830e7910.85f328",
        "type": "change",
        "z": "e0bb42c0.ed456",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "reverser",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "da319058.1e625",
        "type": "function",
        "z": "e0bb42c0.ed456",
        "name": "split msg",
        "func": "var res = msg.payload.replace(/\\s+/g, '').split(\",\");\nmsg.payload = res[0]\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 320,
        "y": 40,
        "wires": [
            [
                "9f096b21.b36868"
            ]
        ]
    },
    {
        "id": "eadc0567.dca508",
        "type": "function",
        "z": "e0bb42c0.ed456",
        "name": "split msg",
        "func": "var res = msg.payload.replace(/\\s+/g, '').split(\",\");\nmsg.payload = res[0]\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 360,
        "y": 100,
        "wires": [
            [
                "882eec58.7ff3e"
            ]
        ]
    },
    {
        "id": "ed93dbbb.0f19a8",
        "type": "mqtt in",
        "z": "764f6e45.e7adc",
        "name": "",
        "topic": "train/sensors/currentSpeed",
        "qos": "0",
        "datatype": "auto",
        "broker": "35fc1b37.d7e0b4",
        "x": 150,
        "y": 160,
        "wires": [
            [
                "de2a016.4d18",
                "9410caf4.d73b98"
            ]
        ]
    },
    {
        "id": "de2a016.4d18",
        "type": "ui_gauge",
        "z": "764f6e45.e7adc",
        "name": "",
        "group": "2d21233f.494c5c",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Speed",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "200",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 350,
        "y": 140,
        "wires": []
    },
    {
        "id": "bb67b497.fe7a88",
        "type": "mqtt in",
        "z": "764f6e45.e7adc",
        "name": "",
        "topic": "train/sensors/currentAvgAcc",
        "qos": "0",
        "datatype": "auto",
        "broker": "35fc1b37.d7e0b4",
        "x": 160,
        "y": 100,
        "wires": [
            [
                "c495bcd6.36c0a"
            ]
        ]
    },
    {
        "id": "c495bcd6.36c0a",
        "type": "ui_text",
        "z": "764f6e45.e7adc",
        "group": "2d21233f.494c5c",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Acceleration : ",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "x": 380,
        "y": 100,
        "wires": []
    },
    {
        "id": "322a789c.7e73a8",
        "type": "mqtt out",
        "z": "764f6e45.e7adc",
        "name": "",
        "topic": "train/actuators/powerUp",
        "qos": "",
        "retain": "",
        "broker": "35fc1b37.d7e0b4",
        "x": 350,
        "y": 480,
        "wires": []
    },
    {
        "id": "4027936d.f0314c",
        "type": "inject",
        "z": "764f6e45.e7adc",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 100,
        "y": 500,
        "wires": [
            [
                "322a789c.7e73a8"
            ]
        ]
    },
    {
        "id": "8815bbf4.a8bc68",
        "type": "mqtt out",
        "z": "764f6e45.e7adc",
        "name": "",
        "topic": "train/actuators/powerDown",
        "qos": "",
        "retain": "",
        "broker": "35fc1b37.d7e0b4",
        "x": 360,
        "y": 580,
        "wires": []
    },
    {
        "id": "d0291630.668c08",
        "type": "inject",
        "z": "764f6e45.e7adc",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 100,
        "y": 560,
        "wires": [
            [
                "8815bbf4.a8bc68"
            ]
        ]
    },
    {
        "id": "c6a1eb3d.7433b8",
        "type": "ui_button",
        "z": "764f6e45.e7adc",
        "name": "",
        "group": "92a12888.6613a8",
        "order": 2,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "Power Down",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "date",
        "topic": "",
        "x": 90,
        "y": 600,
        "wires": [
            [
                "8815bbf4.a8bc68"
            ]
        ]
    },
    {
        "id": "a261a56a.304478",
        "type": "ui_button",
        "z": "764f6e45.e7adc",
        "name": "",
        "group": "92a12888.6613a8",
        "order": 3,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "Power Up",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "date",
        "topic": "",
        "x": 100,
        "y": 460,
        "wires": [
            [
                "322a789c.7e73a8"
            ]
        ]
    },
    {
        "id": "54853661.360fb8",
        "type": "mqtt out",
        "z": "764f6e45.e7adc",
        "name": "",
        "topic": "train/actuators/brakeIncrease",
        "qos": "",
        "retain": "",
        "broker": "35fc1b37.d7e0b4",
        "x": 1000,
        "y": 400,
        "wires": []
    },
    {
        "id": "d0a74c4c.b6a0f",
        "type": "mqtt out",
        "z": "764f6e45.e7adc",
        "name": "",
        "topic": "train/actuators/brakeDecrease",
        "qos": "",
        "retain": "",
        "broker": "35fc1b37.d7e0b4",
        "x": 1010,
        "y": 460,
        "wires": []
    },
    {
        "id": "4c507d91.983ab4",
        "type": "mqtt out",
        "z": "764f6e45.e7adc",
        "name": "",
        "topic": "train/actuators/doorsLeft",
        "qos": "",
        "retain": "",
        "broker": "35fc1b37.d7e0b4",
        "x": 990,
        "y": 200,
        "wires": []
    },
    {
        "id": "db36bc8f.a84fb",
        "type": "mqtt out",
        "z": "764f6e45.e7adc",
        "name": "",
        "topic": "train/actuators/doorsRight",
        "qos": "",
        "retain": "",
        "broker": "35fc1b37.d7e0b4",
        "x": 990,
        "y": 280,
        "wires": []
    },
    {
        "id": "1e5f3d13.550fd3",
        "type": "ui_button",
        "z": "764f6e45.e7adc",
        "name": "",
        "group": "aa4688b0.c10b38",
        "order": 3,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "Brake +",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "date",
        "topic": "",
        "x": 740,
        "y": 400,
        "wires": [
            [
                "54853661.360fb8"
            ]
        ]
    },
    {
        "id": "8383b9b.9b79248",
        "type": "ui_button",
        "z": "764f6e45.e7adc",
        "name": "",
        "group": "aa4688b0.c10b38",
        "order": 2,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "Brake -",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "date",
        "topic": "",
        "x": 740,
        "y": 460,
        "wires": [
            [
                "d0a74c4c.b6a0f"
            ]
        ]
    },
    {
        "id": "c6344ba0.e057e8",
        "type": "ui_button",
        "z": "764f6e45.e7adc",
        "name": "",
        "group": "185cc442.5e938c",
        "order": 1,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "Doors left",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "date",
        "topic": "",
        "x": 740,
        "y": 220,
        "wires": [
            [
                "4c507d91.983ab4"
            ]
        ]
    },
    {
        "id": "145743b5.a2522c",
        "type": "ui_button",
        "z": "764f6e45.e7adc",
        "name": "",
        "group": "185cc442.5e938c",
        "order": 2,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "Doors Right",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "date",
        "topic": "",
        "x": 750,
        "y": 280,
        "wires": [
            [
                "db36bc8f.a84fb"
            ]
        ]
    },
    {
        "id": "3fbbd3dc.71aa1c",
        "type": "mqtt out",
        "z": "764f6e45.e7adc",
        "name": "",
        "topic": "train/actuators/reverserForward",
        "qos": "",
        "retain": "",
        "broker": "35fc1b37.d7e0b4",
        "x": 380,
        "y": 420,
        "wires": []
    },
    {
        "id": "2964bc05.e70e64",
        "type": "ui_button",
        "z": "764f6e45.e7adc",
        "name": "",
        "group": "92a12888.6613a8",
        "order": 4,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "Forward",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "date",
        "topic": "",
        "x": 100,
        "y": 420,
        "wires": [
            [
                "3fbbd3dc.71aa1c"
            ]
        ]
    },
    {
        "id": "56381682.78ac58",
        "type": "mqtt in",
        "z": "764f6e45.e7adc",
        "name": "",
        "topic": "train/sensors/brake",
        "qos": "0",
        "datatype": "auto",
        "broker": "35fc1b37.d7e0b4",
        "x": 770,
        "y": 540,
        "wires": [
            [
                "1093a270.07ef8e",
                "ebd015c0.1aa458"
            ]
        ]
    },
    {
        "id": "bf135380.e07a2",
        "type": "mqtt in",
        "z": "764f6e45.e7adc",
        "name": "",
        "topic": "train/sensors/doorsLeft",
        "qos": "0",
        "datatype": "auto",
        "broker": "35fc1b37.d7e0b4",
        "x": 780,
        "y": 100,
        "wires": [
            [
                "93aca606.db4be8"
            ]
        ]
    },
    {
        "id": "2f88c18e.18579e",
        "type": "mqtt in",
        "z": "764f6e45.e7adc",
        "name": "",
        "topic": "train/sensors/doorsRight",
        "qos": "0",
        "datatype": "auto",
        "broker": "35fc1b37.d7e0b4",
        "x": 790,
        "y": 160,
        "wires": [
            [
                "8489ce71.d765c"
            ]
        ]
    },
    {
        "id": "93aca606.db4be8",
        "type": "ui_text",
        "z": "764f6e45.e7adc",
        "group": "185cc442.5e938c",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Door left :",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "x": 1000,
        "y": 100,
        "wires": []
    },
    {
        "id": "8489ce71.d765c",
        "type": "ui_text",
        "z": "764f6e45.e7adc",
        "group": "185cc442.5e938c",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Door Right :",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "x": 1010,
        "y": 160,
        "wires": []
    },
    {
        "id": "462d20a2.ca59a",
        "type": "mqtt in",
        "z": "764f6e45.e7adc",
        "name": "",
        "topic": "train/infos/speedLimit",
        "qos": "0",
        "datatype": "auto",
        "broker": "35fc1b37.d7e0b4",
        "x": 140,
        "y": 240,
        "wires": [
            [
                "4522fb0f.c7c634",
                "2db87c6a.58ff94"
            ]
        ]
    },
    {
        "id": "4522fb0f.c7c634",
        "type": "ui_text",
        "z": "764f6e45.e7adc",
        "group": "2d21233f.494c5c",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Limit :",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 350,
        "y": 220,
        "wires": []
    },
    {
        "id": "2584fc4d.f0c7e4",
        "type": "mqtt in",
        "z": "764f6e45.e7adc",
        "name": "",
        "topic": "train/infos/distanceToNextStation",
        "qos": "2",
        "datatype": "auto",
        "broker": "35fc1b37.d7e0b4",
        "x": 190,
        "y": 940,
        "wires": [
            [
                "50d7fc61.92bef4"
            ]
        ]
    },
    {
        "id": "50d7fc61.92bef4",
        "type": "function",
        "z": "764f6e45.e7adc",
        "name": "split string",
        "func": "var res = msg.payload.replace(/\\s+/g, '').split(\";\");\nmsg.payload = res\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 410,
        "y": 940,
        "wires": [
            [
                "5e066e73.5de0f"
            ]
        ]
    },
    {
        "id": "77c80c05.bea514",
        "type": "comment",
        "z": "764f6e45.e7adc",
        "name": "Speed",
        "info": "",
        "x": 70,
        "y": 60,
        "wires": []
    },
    {
        "id": "1093a270.07ef8e",
        "type": "ui_gauge",
        "z": "764f6e45.e7adc",
        "name": "",
        "group": "aa4688b0.c10b38",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Brakes",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "5",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 940,
        "y": 520,
        "wires": []
    },
    {
        "id": "5e066e73.5de0f",
        "type": "ui_list",
        "z": "764f6e45.e7adc",
        "group": "32bc742a.4f852c",
        "name": "",
        "order": 2,
        "width": "0",
        "height": "0",
        "lineType": "two",
        "actionType": "none",
        "allowHTML": true,
        "outputs": 0,
        "topic": "",
        "x": 550,
        "y": 940,
        "wires": []
    },
    {
        "id": "7e6c493.de78db8",
        "type": "ui_text",
        "z": "764f6e45.e7adc",
        "group": "32bc742a.4f852c",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Train stations (distances)",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 170,
        "y": 900,
        "wires": []
    },
    {
        "id": "157a469a.2006c9",
        "type": "mqtt in",
        "z": "764f6e45.e7adc",
        "name": "",
        "topic": "train/sensors/soundsPlaying",
        "qos": "0",
        "datatype": "auto",
        "broker": "35fc1b37.d7e0b4",
        "x": 180,
        "y": 840,
        "wires": [
            [
                "b5786363.521f5"
            ]
        ]
    },
    {
        "id": "6f07bcfb.c767b4",
        "type": "mqtt in",
        "z": "764f6e45.e7adc",
        "name": "",
        "topic": "train/sensors/power",
        "qos": "0",
        "datatype": "auto",
        "broker": "35fc1b37.d7e0b4",
        "x": 130,
        "y": 360,
        "wires": [
            [
                "6bfc1623.97a6a8",
                "14d643f3.4d907c"
            ]
        ]
    },
    {
        "id": "6bfc1623.97a6a8",
        "type": "ui_gauge",
        "z": "764f6e45.e7adc",
        "name": "",
        "group": "92a12888.6613a8",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Power",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "5",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 330,
        "y": 340,
        "wires": []
    },
    {
        "id": "b5786363.521f5",
        "type": "ui_text",
        "z": "764f6e45.e7adc",
        "group": "60d271c9.e1b48",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Nb of Sounds : ",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "x": 400,
        "y": 840,
        "wires": []
    },
    {
        "id": "49e5072f.7854f8",
        "type": "comment",
        "z": "764f6e45.e7adc",
        "name": "Power",
        "info": "",
        "x": 70,
        "y": 320,
        "wires": []
    },
    {
        "id": "ce136865.4ed178",
        "type": "comment",
        "z": "764f6e45.e7adc",
        "name": "General Infos",
        "info": "",
        "x": 110,
        "y": 780,
        "wires": []
    },
    {
        "id": "93554e29.b37",
        "type": "comment",
        "z": "764f6e45.e7adc",
        "name": "Doors",
        "info": "",
        "x": 710,
        "y": 60,
        "wires": []
    },
    {
        "id": "c466c332.7d313",
        "type": "comment",
        "z": "764f6e45.e7adc",
        "name": "Brakes",
        "info": "",
        "x": 710,
        "y": 360,
        "wires": []
    },
    {
        "id": "eda63b75.3d9548",
        "type": "mosca in",
        "z": "764f6e45.e7adc",
        "mqtt_port": 1883,
        "mqtt_ws_port": 8080,
        "name": "",
        "username": "",
        "password": "",
        "dburl": "",
        "x": 190,
        "y": 20,
        "wires": [
            []
        ]
    },
    {
        "id": "41935ad1.65d934",
        "type": "mqtt in",
        "z": "f6936c83.b4d89",
        "name": "",
        "topic": "train/sensors/currentSpeed",
        "qos": "0",
        "datatype": "auto",
        "broker": "35fc1b37.d7e0b4",
        "x": 150,
        "y": 80,
        "wires": [
            [
                "ea22e504.a5a068"
            ]
        ]
    },
    {
        "id": "fdf65ca3.88dfb",
        "type": "mqtt in",
        "z": "f6936c83.b4d89",
        "name": "",
        "topic": "train/infos/speedLimit",
        "qos": "0",
        "datatype": "auto",
        "broker": "35fc1b37.d7e0b4",
        "x": 140,
        "y": 140,
        "wires": [
            [
                "634efdfb.90d1d4"
            ]
        ]
    },
    {
        "id": "37349117.6c5e3e",
        "type": "mqtt in",
        "z": "f6936c83.b4d89",
        "name": "",
        "topic": "train/sensors/behaviouralDrift",
        "qos": "2",
        "datatype": "auto",
        "broker": "35fc1b37.d7e0b4",
        "x": 160,
        "y": 240,
        "wires": [
            [
                "1c737734.aaa0e9"
            ]
        ]
    },
    {
        "id": "b2a42ef1.1a682",
        "type": "comment",
        "z": "f6936c83.b4d89",
        "name": "Drift",
        "info": "",
        "x": 70,
        "y": 200,
        "wires": []
    },
    {
        "id": "1c737734.aaa0e9",
        "type": "ui_chart",
        "z": "f6936c83.b4d89",
        "name": "",
        "group": "c0e9e5eb.674658",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Behavioural Drift",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "1",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 420,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "741647b6.0e7be8",
        "type": "comment",
        "z": "f6936c83.b4d89",
        "name": "Speed",
        "info": "",
        "x": 70,
        "y": 40,
        "wires": []
    },
    {
        "id": "ea22e504.a5a068",
        "type": "delay",
        "z": "f6936c83.b4d89",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "x": 370,
        "y": 80,
        "wires": [
            [
                "8d6be608.8208c8"
            ]
        ]
    },
    {
        "id": "634efdfb.90d1d4",
        "type": "delay",
        "z": "f6936c83.b4d89",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "x": 370,
        "y": 140,
        "wires": [
            [
                "8d6be608.8208c8"
            ]
        ]
    },
    {
        "id": "8d6be608.8208c8",
        "type": "ui_chart",
        "z": "f6936c83.b4d89",
        "name": "",
        "group": "c0e9e5eb.674658",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Speed",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#d62728",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 560,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "9410caf4.d73b98",
        "type": "delay",
        "z": "764f6e45.e7adc",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "x": 370,
        "y": 180,
        "wires": [
            [
                "1d978f49.613281"
            ]
        ]
    },
    {
        "id": "2db87c6a.58ff94",
        "type": "delay",
        "z": "764f6e45.e7adc",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "x": 370,
        "y": 260,
        "wires": [
            [
                "1d978f49.613281"
            ]
        ]
    },
    {
        "id": "1d978f49.613281",
        "type": "ui_chart",
        "z": "764f6e45.e7adc",
        "name": "",
        "group": "2d21233f.494c5c",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "Speed",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "15",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#ea2728",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 510,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "f2e26f85.a826f",
        "type": "ui_chart",
        "z": "764f6e45.e7adc",
        "name": "",
        "group": "2d21233f.494c5c",
        "order": 5,
        "width": 0,
        "height": 0,
        "label": "Power",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "15",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 510,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "1f0569e1.c2f7e6",
        "type": "ui_chart",
        "z": "764f6e45.e7adc",
        "name": "",
        "group": "2d21233f.494c5c",
        "order": 6,
        "width": 0,
        "height": 0,
        "label": "Brakes",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "15",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 1100,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "14d643f3.4d907c",
        "type": "delay",
        "z": "764f6e45.e7adc",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "x": 350,
        "y": 380,
        "wires": [
            [
                "f2e26f85.a826f"
            ]
        ]
    },
    {
        "id": "ebd015c0.1aa458",
        "type": "delay",
        "z": "764f6e45.e7adc",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "x": 950,
        "y": 560,
        "wires": [
            [
                "1f0569e1.c2f7e6"
            ]
        ]
    },
    {
        "id": "b8fd4090.3dd4c",
        "type": "mqtt in",
        "z": "764f6e45.e7adc",
        "name": "",
        "topic": "train/sensors/reverser",
        "qos": "2",
        "datatype": "auto",
        "broker": "35fc1b37.d7e0b4",
        "x": 140,
        "y": 660,
        "wires": [
            [
                "5371ba01.661c24"
            ]
        ]
    },
    {
        "id": "5371ba01.661c24",
        "type": "ui_text",
        "z": "764f6e45.e7adc",
        "group": "92a12888.6613a8",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Reverser :",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 340,
        "y": 660,
        "wires": []
    },
    {
        "id": "a623809b.b7fc",
        "type": "mqtt out",
        "z": "764f6e45.e7adc",
        "name": "",
        "topic": "train/actuators/reverserBackward",
        "qos": "",
        "retain": "",
        "broker": "35fc1b37.d7e0b4",
        "x": 400,
        "y": 720,
        "wires": []
    },
    {
        "id": "ebfeb.b9f120158",
        "type": "ui_button",
        "z": "764f6e45.e7adc",
        "name": "",
        "group": "92a12888.6613a8",
        "order": 5,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "Backward",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "date",
        "topic": "",
        "x": 110,
        "y": 720,
        "wires": [
            [
                "a623809b.b7fc"
            ]
        ]
    },
    {
        "id": "9ade527a.4b9de",
        "type": "link out",
        "z": "e0bb42c0.ed456",
        "name": "",
        "links": [
            "933c9c14.453cf"
        ],
        "x": 1035,
        "y": 320,
        "wires": []
    },
    {
        "id": "933c9c14.453cf",
        "type": "link in",
        "z": "e0bb42c0.ed456",
        "name": "",
        "links": [
            "9ade527a.4b9de"
        ],
        "x": 75,
        "y": 600,
        "wires": [
            [
                "c889d4eb.2f37c8"
            ]
        ]
    },
    {
        "id": "df0f409.168c6c",
        "type": "change",
        "z": "e0bb42c0.ed456",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "The train is moving",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 940,
        "y": 600,
        "wires": [
            [
                "394f03c7.2a332c"
            ]
        ]
    },
    {
        "id": "8f9f6423.16e748",
        "type": "mqtt in",
        "z": "e0bb42c0.ed456",
        "name": "",
        "topic": "train/infos/speedLimit",
        "qos": "0",
        "datatype": "auto",
        "broker": "35fc1b37.d7e0b4",
        "x": 740,
        "y": 160,
        "wires": [
            [
                "e1fb4872.b24f28"
            ]
        ]
    },
    {
        "id": "5c9536eb.033758",
        "type": "change",
        "z": "e0bb42c0.ed456",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "speedLimit",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1130,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "e1fb4872.b24f28",
        "type": "function",
        "z": "e0bb42c0.ed456",
        "name": "parseInt",
        "func": "msg.payload = parseInt(msg.payload)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 950,
        "y": 160,
        "wires": [
            [
                "5c9536eb.033758"
            ]
        ]
    },
    {
        "id": "7d218f81.223d9",
        "type": "ui_toast",
        "z": "e0bb42c0.ed456",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "topic": "",
        "name": "Door Left Closed",
        "x": 570,
        "y": 800,
        "wires": []
    },
    {
        "id": "f0ca52d8.30ec6",
        "type": "link out",
        "z": "e0bb42c0.ed456",
        "name": "",
        "links": [
            "ae0358d7.3d82c8"
        ],
        "x": 520,
        "y": 220,
        "wires": []
    },
    {
        "id": "2771c156.0d43be",
        "type": "link out",
        "z": "e0bb42c0.ed456",
        "name": "",
        "links": [
            "e6b059ca.d44d28"
        ],
        "x": 755,
        "y": 240,
        "wires": []
    },
    {
        "id": "6f057a3.906f984",
        "type": "link out",
        "z": "e0bb42c0.ed456",
        "name": "",
        "links": [
            "c884c89.6a4b938"
        ],
        "x": 435,
        "y": 520,
        "wires": []
    },
    {
        "id": "4b1b44b.5bb33bc",
        "type": "link out",
        "z": "e0bb42c0.ed456",
        "name": "",
        "links": [
            "2cf2a98e.68a0f6"
        ],
        "x": 795,
        "y": 540,
        "wires": []
    },
    {
        "id": "c4bbfb8e.2f7688",
        "type": "ui_toast",
        "z": "e0bb42c0.ed456",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "topic": "",
        "name": "Door Right Closed",
        "x": 570,
        "y": 840,
        "wires": []
    },
    {
        "id": "68988751.bcb8b8",
        "type": "ui_toast",
        "z": "e0bb42c0.ed456",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "topic": "",
        "name": "Brake Neutral",
        "x": 560,
        "y": 880,
        "wires": []
    },
    {
        "id": "adee7e03.ecbb2",
        "type": "ui_toast",
        "z": "e0bb42c0.ed456",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "topic": "",
        "name": "Power Set",
        "x": 550,
        "y": 920,
        "wires": []
    },
    {
        "id": "ae0358d7.3d82c8",
        "type": "link in",
        "z": "e0bb42c0.ed456",
        "name": "",
        "links": [
            "f0ca52d8.30ec6"
        ],
        "x": 195,
        "y": 800,
        "wires": [
            [
                "47f60ccf.d1fde4"
            ]
        ]
    },
    {
        "id": "e6b059ca.d44d28",
        "type": "link in",
        "z": "e0bb42c0.ed456",
        "name": "",
        "links": [
            "2771c156.0d43be"
        ],
        "x": 195,
        "y": 840,
        "wires": [
            [
                "fe23152a.50e8d8"
            ]
        ]
    },
    {
        "id": "c884c89.6a4b938",
        "type": "link in",
        "z": "e0bb42c0.ed456",
        "name": "",
        "links": [
            "6f057a3.906f984"
        ],
        "x": 195,
        "y": 880,
        "wires": [
            [
                "7f3e578e.56e718"
            ]
        ]
    },
    {
        "id": "2cf2a98e.68a0f6",
        "type": "link in",
        "z": "e0bb42c0.ed456",
        "name": "",
        "links": [
            "4b1b44b.5bb33bc"
        ],
        "x": 195,
        "y": 920,
        "wires": [
            [
                "9b319234.bdee7"
            ]
        ]
    },
    {
        "id": "47f60ccf.d1fde4",
        "type": "change",
        "z": "e0bb42c0.ed456",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Door Left Closed",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 800,
        "wires": [
            [
                "7d218f81.223d9"
            ]
        ]
    },
    {
        "id": "fe23152a.50e8d8",
        "type": "change",
        "z": "e0bb42c0.ed456",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Door Right Closed",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 840,
        "wires": [
            [
                "c4bbfb8e.2f7688"
            ]
        ]
    },
    {
        "id": "7f3e578e.56e718",
        "type": "change",
        "z": "e0bb42c0.ed456",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Brake Neutral",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 880,
        "wires": [
            [
                "68988751.bcb8b8"
            ]
        ]
    },
    {
        "id": "9b319234.bdee7",
        "type": "change",
        "z": "e0bb42c0.ed456",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Power Set",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 920,
        "wires": [
            [
                "adee7e03.ecbb2"
            ]
        ]
    },
    {
        "id": "4781e147.d52bd",
        "type": "mqtt out",
        "z": "e0bb42c0.ed456",
        "name": "",
        "topic": "train/actuators/brakeIncrease",
        "qos": "",
        "retain": "",
        "broker": "35fc1b37.d7e0b4",
        "x": 1060,
        "y": 1020,
        "wires": []
    },
    {
        "id": "6e7c2966.29ec88",
        "type": "mqtt out",
        "z": "e0bb42c0.ed456",
        "name": "",
        "topic": "train/actuators/brakeDecrease",
        "qos": "",
        "retain": "",
        "broker": "35fc1b37.d7e0b4",
        "x": 1090,
        "y": 1120,
        "wires": []
    },
    {
        "id": "62b08a97.37fc14",
        "type": "comment",
        "z": "e0bb42c0.ed456",
        "name": "Speed Control",
        "info": "",
        "x": 150,
        "y": 1040,
        "wires": []
    },
    {
        "id": "dbf135ae.9f2f08",
        "type": "mqtt in",
        "z": "e0bb42c0.ed456",
        "name": "",
        "topic": "train/sensors/currentSpeed",
        "qos": "0",
        "datatype": "auto",
        "broker": "35fc1b37.d7e0b4",
        "x": 150,
        "y": 1100,
        "wires": [
            [
                "5f16f333.f0f60c"
            ]
        ]
    },
    {
        "id": "d026a8d2.fe7048",
        "type": "switch",
        "z": "e0bb42c0.ed456",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "speedLimit",
                "vt": "flow"
            },
            {
                "t": "lt",
                "v": "speedLimit",
                "vt": "flow"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 730,
        "y": 1100,
        "wires": [
            [
                "f3b1399d.0722b8"
            ],
            [
                "229c7591.8787aa"
            ]
        ]
    },
    {
        "id": "16983e3b.88b4f2",
        "type": "function",
        "z": "e0bb42c0.ed456",
        "name": "parseInt",
        "func": "msg.payload = parseInt(msg.payload)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 580,
        "y": 1100,
        "wires": [
            [
                "d026a8d2.fe7048"
            ]
        ]
    },
    {
        "id": "5f16f333.f0f60c",
        "type": "delay",
        "z": "e0bb42c0.ed456",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "x": 410,
        "y": 1100,
        "wires": [
            [
                "39eeaf1a.a73a2"
            ]
        ]
    },
    {
        "id": "b5dfe1f8.ec306",
        "type": "delay",
        "z": "e0bb42c0.ed456",
        "name": "",
        "pauseType": "delay",
        "timeout": "50",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 890,
        "y": 260,
        "wires": [
            [
                "5e36f2b2.f566bc"
            ]
        ]
    },
    {
        "id": "229c7591.8787aa",
        "type": "switch",
        "z": "e0bb42c0.ed456",
        "name": "",
        "property": "brake",
        "propertyType": "flow",
        "rules": [
            {
                "t": "gt",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 870,
        "y": 1120,
        "wires": [
            [
                "6e7c2966.29ec88"
            ],
            [
                "927beefd.a2b88"
            ]
        ]
    },
    {
        "id": "1f503b11.087965",
        "type": "mqtt out",
        "z": "e0bb42c0.ed456",
        "name": "",
        "topic": "train/actuators/powerDown",
        "qos": "",
        "retain": "",
        "broker": "35fc1b37.d7e0b4",
        "x": 1040,
        "y": 1080,
        "wires": []
    },
    {
        "id": "f3b1399d.0722b8",
        "type": "switch",
        "z": "e0bb42c0.ed456",
        "name": "",
        "property": "brake",
        "propertyType": "flow",
        "rules": [
            {
                "t": "lt",
                "v": "5",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 850,
        "y": 1060,
        "wires": [
            [
                "4781e147.d52bd"
            ],
            [
                "1f503b11.087965"
            ]
        ]
    },
    {
        "id": "927beefd.a2b88",
        "type": "mqtt out",
        "z": "e0bb42c0.ed456",
        "name": "",
        "topic": "train/actuators/powerUp",
        "qos": "",
        "retain": "",
        "broker": "35fc1b37.d7e0b4",
        "x": 1070,
        "y": 1180,
        "wires": []
    },
    {
        "id": "ba4bc1b7.48006",
        "type": "mqtt in",
        "z": "764f6e45.e7adc",
        "name": "",
        "topic": "train/infos/distanceToTrain",
        "qos": "0",
        "datatype": "auto",
        "broker": "35fc1b37.d7e0b4",
        "x": 170,
        "y": 1000,
        "wires": [
            [
                "f55a04f.bbe0bf8"
            ]
        ]
    },
    {
        "id": "f55a04f.bbe0bf8",
        "type": "ui_text",
        "z": "764f6e45.e7adc",
        "group": "60d271c9.e1b48",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Distance to next train : ",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "x": 460,
        "y": 1000,
        "wires": []
    },
    {
        "id": "39eeaf1a.a73a2",
        "type": "switch",
        "z": "e0bb42c0.ed456",
        "name": "Speed Control Activated",
        "property": "speedControl",
        "propertyType": "flow",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 570,
        "y": 1160,
        "wires": [
            [
                "16983e3b.88b4f2"
            ]
        ]
    },
    {
        "id": "f177cf8f.a83f4",
        "type": "change",
        "z": "e0bb42c0.ed456",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "speedControl",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 1220,
        "wires": [
            []
        ]
    },
    {
        "id": "64018b59.cd1de4",
        "type": "ui_switch",
        "z": "e0bb42c0.ed456",
        "name": "",
        "label": "Speed Control",
        "tooltip": "",
        "group": "60d271c9.e1b48",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 160,
        "y": 1220,
        "wires": [
            [
                "f177cf8f.a83f4"
            ]
        ]
    },
    {
        "id": "9526f601.0cc9e8",
        "type": "mqtt out",
        "z": "764f6e45.e7adc",
        "name": "",
        "topic": "train/actuators/sound1",
        "qos": "",
        "retain": "",
        "broker": "35fc1b37.d7e0b4",
        "x": 460,
        "y": 1060,
        "wires": []
    },
    {
        "id": "68385732.d66d58",
        "type": "mqtt out",
        "z": "764f6e45.e7adc",
        "name": "",
        "topic": "train/actuators/sound2",
        "qos": "",
        "retain": "",
        "broker": "35fc1b37.d7e0b4",
        "x": 460,
        "y": 1100,
        "wires": []
    },
    {
        "id": "f6a59617.7fedc8",
        "type": "mqtt in",
        "z": "764f6e45.e7adc",
        "name": "",
        "topic": "train/infos/sound1",
        "qos": "2",
        "datatype": "auto",
        "broker": "35fc1b37.d7e0b4",
        "x": 170,
        "y": 1160,
        "wires": [
            [
                "a6c07271.1537d",
                "780186.f7937e7c"
            ]
        ]
    },
    {
        "id": "a6c07271.1537d",
        "type": "ui_text",
        "z": "764f6e45.e7adc",
        "group": "60d271c9.e1b48",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "sound 1 is playing :",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "x": 450,
        "y": 1160,
        "wires": []
    },
    {
        "id": "11402883.3a89c7",
        "type": "mqtt in",
        "z": "764f6e45.e7adc",
        "name": "",
        "topic": "train/infos/sound2",
        "qos": "2",
        "datatype": "auto",
        "broker": "35fc1b37.d7e0b4",
        "x": 190,
        "y": 1340,
        "wires": [
            [
                "1cc65157.6fda6f",
                "4c718a73.66ee34"
            ]
        ]
    },
    {
        "id": "1cc65157.6fda6f",
        "type": "ui_text",
        "z": "764f6e45.e7adc",
        "group": "60d271c9.e1b48",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "sound 2 is playing :",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "x": 470,
        "y": 1340,
        "wires": []
    },
    {
        "id": "c6dac596.f29a38",
        "type": "ui_switch",
        "z": "764f6e45.e7adc",
        "name": "",
        "label": "Play sound 1",
        "tooltip": "",
        "group": "60d271c9.e1b48",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "m",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "i",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "x": 160,
        "y": 1060,
        "wires": [
            [
                "9526f601.0cc9e8"
            ]
        ]
    },
    {
        "id": "f055f454.a1c558",
        "type": "ui_switch",
        "z": "764f6e45.e7adc",
        "name": "",
        "label": "Play sound 2",
        "tooltip": "",
        "group": "60d271c9.e1b48",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "m",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "i",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "x": 150,
        "y": 1100,
        "wires": [
            [
                "68385732.d66d58"
            ]
        ]
    },
    {
        "id": "8cf48d75.6a5b",
        "type": "rbe",
        "z": "764f6e45.e7adc",
        "name": "",
        "func": "rbei",
        "gap": "",
        "start": "",
        "inout": "out",
        "property": "payload",
        "x": 730,
        "y": 1240,
        "wires": [
            [
                "57ea431c.f3fc7c"
            ]
        ]
    },
    {
        "id": "4e70e866.54ed78",
        "type": "change",
        "z": "764f6e45.e7adc",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "m",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 1240,
        "wires": [
            [
                "8cf48d75.6a5b"
            ]
        ]
    },
    {
        "id": "780186.f7937e7c",
        "type": "switch",
        "z": "764f6e45.e7adc",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "True",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "False",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 270,
        "y": 1240,
        "wires": [
            [
                "4e70e866.54ed78"
            ],
            [
                "d9b7dd2f.a46fb"
            ]
        ]
    },
    {
        "id": "d9b7dd2f.a46fb",
        "type": "change",
        "z": "764f6e45.e7adc",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "i",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 1280,
        "wires": [
            [
                "8cf48d75.6a5b"
            ]
        ]
    },
    {
        "id": "57ea431c.f3fc7c",
        "type": "link out",
        "z": "764f6e45.e7adc",
        "name": "",
        "links": [
            "69e033d0.11f54c"
        ],
        "x": 855,
        "y": 1240,
        "wires": []
    },
    {
        "id": "69e033d0.11f54c",
        "type": "link in",
        "z": "764f6e45.e7adc",
        "name": "",
        "links": [
            "57ea431c.f3fc7c"
        ],
        "x": 35,
        "y": 1060,
        "wires": [
            [
                "c6dac596.f29a38"
            ]
        ]
    },
    {
        "id": "bb29030a.8bb08",
        "type": "rbe",
        "z": "764f6e45.e7adc",
        "name": "",
        "func": "rbei",
        "gap": "",
        "start": "",
        "inout": "out",
        "property": "payload",
        "x": 790,
        "y": 1400,
        "wires": [
            [
                "52be1b52.eeb334"
            ]
        ]
    },
    {
        "id": "ce011c39.c28a4",
        "type": "change",
        "z": "764f6e45.e7adc",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "m",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 1400,
        "wires": [
            [
                "bb29030a.8bb08"
            ]
        ]
    },
    {
        "id": "4c718a73.66ee34",
        "type": "switch",
        "z": "764f6e45.e7adc",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "True",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "False",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 330,
        "y": 1400,
        "wires": [
            [
                "ce011c39.c28a4"
            ],
            [
                "b7ef546b.8716b8"
            ]
        ]
    },
    {
        "id": "b7ef546b.8716b8",
        "type": "change",
        "z": "764f6e45.e7adc",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "i",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 1440,
        "wires": [
            [
                "bb29030a.8bb08"
            ]
        ]
    },
    {
        "id": "52be1b52.eeb334",
        "type": "link out",
        "z": "764f6e45.e7adc",
        "name": "",
        "links": [
            "ea32e41e.dd8048"
        ],
        "x": 915,
        "y": 1400,
        "wires": []
    },
    {
        "id": "ea32e41e.dd8048",
        "type": "link in",
        "z": "764f6e45.e7adc",
        "name": "",
        "links": [
            "52be1b52.eeb334"
        ],
        "x": 35,
        "y": 1100,
        "wires": [
            [
                "f055f454.a1c558"
            ]
        ]
    },
    {
        "id": "28c07d56.9b5332",
        "type": "mqtt in",
        "z": "5dea54b.a72c0ac",
        "name": "",
        "topic": "train/infos/temp",
        "qos": "2",
        "datatype": "auto",
        "broker": "35fc1b37.d7e0b4",
        "x": 160,
        "y": 100,
        "wires": [
            [
                "bca41fc6.d5407"
            ]
        ]
    },
    {
        "id": "9a435585.42c1f8",
        "type": "change",
        "z": "5dea54b.a72c0ac",
        "name": "set max",
        "rules": [
            {
                "t": "set",
                "p": "maxTemp",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 840,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "8b785b62.a08a78",
        "type": "switch",
        "z": "5dea54b.a72c0ac",
        "name": "If max",
        "property": "maxTemp",
        "propertyType": "flow",
        "rules": [
            {
                "t": "lt",
                "v": "payload",
                "vt": "msg"
            },
            {
                "t": "istype",
                "v": "undefined",
                "vt": "undefined"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 690,
        "y": 40,
        "wires": [
            [
                "9a435585.42c1f8"
            ],
            [
                "9a435585.42c1f8"
            ]
        ]
    },
    {
        "id": "f7ee2849.a112a8",
        "type": "change",
        "z": "5dea54b.a72c0ac",
        "name": "set min",
        "rules": [
            {
                "t": "set",
                "p": "minTemp",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 840,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "dc6e75e2.b781c8",
        "type": "function",
        "z": "5dea54b.a72c0ac",
        "name": "parse Float",
        "func": "msg.payload = parseFloat (msg.payload.replace(\",\",\".\"))\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 550,
        "y": 100,
        "wires": [
            [
                "8b785b62.a08a78",
                "c0d064ed.b0dbb8",
                "51cbfed9.37b52"
            ]
        ]
    },
    {
        "id": "67e22116.9d288",
        "type": "comment",
        "z": "5dea54b.a72c0ac",
        "name": "Temperature C",
        "info": "",
        "x": 100,
        "y": 40,
        "wires": []
    },
    {
        "id": "8a93ca92.969a78",
        "type": "comment",
        "z": "5dea54b.a72c0ac",
        "name": "Load (mass) kg",
        "info": "",
        "x": 100,
        "y": 240,
        "wires": []
    },
    {
        "id": "336dff48.7c0cd",
        "type": "mqtt in",
        "z": "5dea54b.a72c0ac",
        "name": "",
        "topic": "train/sensors/load",
        "qos": "0",
        "datatype": "auto",
        "broker": "35fc1b37.d7e0b4",
        "x": 150,
        "y": 300,
        "wires": [
            [
                "e928a229.0795a"
            ]
        ]
    },
    {
        "id": "28bc03ab.7ad80c",
        "type": "change",
        "z": "5dea54b.a72c0ac",
        "name": "set max",
        "rules": [
            {
                "t": "set",
                "p": "maxLoad",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 800,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "ee18c5eb.a450f8",
        "type": "switch",
        "z": "5dea54b.a72c0ac",
        "name": "If max",
        "property": "maxLoad",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lt",
                "v": "payload",
                "vt": "msg"
            },
            {
                "t": "istype",
                "v": "undefined",
                "vt": "undefined"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 650,
        "y": 240,
        "wires": [
            [
                "28bc03ab.7ad80c"
            ],
            [
                "28bc03ab.7ad80c"
            ]
        ]
    },
    {
        "id": "64bec944.d01a08",
        "type": "switch",
        "z": "5dea54b.a72c0ac",
        "name": "if min",
        "property": "minLoad",
        "propertyType": "flow",
        "rules": [
            {
                "t": "gt",
                "v": "payload",
                "vt": "msg"
            },
            {
                "t": "istype",
                "v": "undefined",
                "vt": "undefined"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 650,
        "y": 360,
        "wires": [
            [
                "1dc1b12f.b22fdf"
            ],
            [
                "1dc1b12f.b22fdf"
            ]
        ]
    },
    {
        "id": "1dc1b12f.b22fdf",
        "type": "change",
        "z": "5dea54b.a72c0ac",
        "name": "set min",
        "rules": [
            {
                "t": "set",
                "p": "minLoad",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 800,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "147b52da.f3b0bd",
        "type": "function",
        "z": "5dea54b.a72c0ac",
        "name": "parse Float",
        "func": "msg.payload = parseFloat(msg.payload)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 510,
        "y": 300,
        "wires": [
            [
                "ee18c5eb.a450f8",
                "64bec944.d01a08",
                "3ee602e4.89057e"
            ]
        ]
    },
    {
        "id": "89f9a977.4b7618",
        "type": "comment",
        "z": "5dea54b.a72c0ac",
        "name": "Pressure kPa",
        "info": "",
        "x": 90,
        "y": 420,
        "wires": []
    },
    {
        "id": "2961cf19.27bac",
        "type": "mqtt in",
        "z": "5dea54b.a72c0ac",
        "name": "",
        "topic": "train/sensors/airPressure",
        "qos": "0",
        "datatype": "auto",
        "broker": "35fc1b37.d7e0b4",
        "x": 150,
        "y": 480,
        "wires": [
            [
                "ec3f31bd.2a4ad"
            ]
        ]
    },
    {
        "id": "cce13f69.bceea",
        "type": "change",
        "z": "5dea54b.a72c0ac",
        "name": "set max",
        "rules": [
            {
                "t": "set",
                "p": "maxLoad",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 800,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "d9676c79.f6768",
        "type": "switch",
        "z": "5dea54b.a72c0ac",
        "name": "If max",
        "property": "maxPressure",
        "propertyType": "flow",
        "rules": [
            {
                "t": "lt",
                "v": "payload",
                "vt": "msg"
            },
            {
                "t": "istype",
                "v": "undefined",
                "vt": "undefined"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 650,
        "y": 420,
        "wires": [
            [
                "cce13f69.bceea"
            ],
            [
                "cce13f69.bceea"
            ]
        ]
    },
    {
        "id": "b5842b.67060bd8",
        "type": "switch",
        "z": "5dea54b.a72c0ac",
        "name": "if min",
        "property": "minPressure",
        "propertyType": "flow",
        "rules": [
            {
                "t": "gt",
                "v": "payload",
                "vt": "msg"
            },
            {
                "t": "istype",
                "v": "undefined",
                "vt": "undefined"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 650,
        "y": 540,
        "wires": [
            [
                "4e169bb.62f8964"
            ],
            [
                "4e169bb.62f8964"
            ]
        ]
    },
    {
        "id": "4e169bb.62f8964",
        "type": "change",
        "z": "5dea54b.a72c0ac",
        "name": "set min",
        "rules": [
            {
                "t": "set",
                "p": "minLoad",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 820,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "4c539c90.c292b4",
        "type": "function",
        "z": "5dea54b.a72c0ac",
        "name": "parse Float",
        "func": "msg.payload = parseFloat(msg.payload.replace(\",\",\".\"))\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 510,
        "y": 480,
        "wires": [
            [
                "d9676c79.f6768",
                "b5842b.67060bd8",
                "c39315f6.ce1d98"
            ]
        ]
    },
    {
        "id": "2527dca0.105d24",
        "type": "mqtt in",
        "z": "5dea54b.a72c0ac",
        "name": "",
        "topic": "train/sensors/positionX",
        "qos": "0",
        "datatype": "auto",
        "broker": "35fc1b37.d7e0b4",
        "x": 140,
        "y": 660,
        "wires": [
            [
                "37992b14.7a0d34"
            ]
        ]
    },
    {
        "id": "81ef45aa.8f7e88",
        "type": "mqtt in",
        "z": "5dea54b.a72c0ac",
        "name": "",
        "topic": "train/sensors/positionY",
        "qos": "0",
        "datatype": "auto",
        "broker": "35fc1b37.d7e0b4",
        "x": 140,
        "y": 780,
        "wires": [
            [
                "d14c12f2.5d502"
            ]
        ]
    },
    {
        "id": "b2ac8574.8f71c8",
        "type": "mqtt in",
        "z": "5dea54b.a72c0ac",
        "name": "",
        "topic": "train/sensors/positionZ",
        "qos": "0",
        "datatype": "auto",
        "broker": "35fc1b37.d7e0b4",
        "x": 140,
        "y": 940,
        "wires": [
            [
                "2ca14ba3.05f1a4"
            ]
        ]
    },
    {
        "id": "626a1162.661a3",
        "type": "function",
        "z": "5dea54b.a72c0ac",
        "name": "compute speed",
        "func": "let z1 = flow.get(\"z1\") || 0.0\nlet z2 = parseFloat(msg.payload.replace(\",\",\".\"))\nlet speed = z2-z1\nflow.set(\"z1\", z2)\nmsg.payload = speed;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 560,
        "y": 940,
        "wires": [
            [
                "98aba1bc.75737"
            ]
        ]
    },
    {
        "id": "2ca14ba3.05f1a4",
        "type": "delay",
        "z": "5dea54b.a72c0ac",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "x": 370,
        "y": 940,
        "wires": [
            [
                "626a1162.661a3"
            ]
        ]
    },
    {
        "id": "19d7f51e.05b96b",
        "type": "function",
        "z": "5dea54b.a72c0ac",
        "name": "compute speed",
        "func": "let x1 = flow.get(\"x1\") || 0\nlet x2 = parseFloat(msg.payload.replace(\",\",\".\"))\nlet speed = x2-x1\nflow.set(\"x1\", x2)\nmsg.payload = speed;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 560,
        "y": 660,
        "wires": [
            [
                "d5a00e04.b17ea"
            ]
        ]
    },
    {
        "id": "37992b14.7a0d34",
        "type": "delay",
        "z": "5dea54b.a72c0ac",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "x": 370,
        "y": 660,
        "wires": [
            [
                "19d7f51e.05b96b"
            ]
        ]
    },
    {
        "id": "762f95cc.cb1a2c",
        "type": "function",
        "z": "5dea54b.a72c0ac",
        "name": "compute speed",
        "func": "let y1 = flow.get(\"y1\") || 0\nlet y2 = parseFloat(msg.payload.replace(\",\",\".\"))\nlet speed = y2-y1\nflow.set(\"y1\", y2)\nmsg.payload = speed;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 560,
        "y": 780,
        "wires": [
            [
                "47ef4a16.8196e4"
            ]
        ]
    },
    {
        "id": "d14c12f2.5d502",
        "type": "delay",
        "z": "5dea54b.a72c0ac",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "x": 370,
        "y": 780,
        "wires": [
            [
                "762f95cc.cb1a2c"
            ]
        ]
    },
    {
        "id": "98aba1bc.75737",
        "type": "function",
        "z": "5dea54b.a72c0ac",
        "name": "compute acceleration",
        "func": "let vz1 = flow.get(\"vz1\") || 0\nlet vz2 = msg.payload\nlet acc = vz2-vz1\nflow.set(\"vz1\", vz2)\nmsg.payload = acc;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 780,
        "y": 940,
        "wires": [
            [
                "b37c064.1446df8",
                "97f0db1a.8003e8",
                "64424705.400518",
                "71c68bf3.83df14"
            ]
        ]
    },
    {
        "id": "d5a00e04.b17ea",
        "type": "function",
        "z": "5dea54b.a72c0ac",
        "name": "compute acceleration",
        "func": "let vx1 = flow.get(\"vx1\") || 0\nlet vx2 = msg.payload\nlet acc = vx2-vx1\nflow.set(\"vx1\", vx2)\nmsg.payload = acc;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 780,
        "y": 660,
        "wires": [
            [
                "8175c93.6b41e38",
                "486bf52.0ab0d0c",
                "81a7e486.3cd3b8"
            ]
        ]
    },
    {
        "id": "47ef4a16.8196e4",
        "type": "function",
        "z": "5dea54b.a72c0ac",
        "name": "compute acceleration",
        "func": "let vy1 = flow.get(\"vy1\") || 0\nlet vy2 = msg.payload\nlet acc = vy2-vy1\nflow.set(\"vy1\", vy2)\nmsg.payload = acc;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 780,
        "y": 780,
        "wires": [
            [
                "7aca2d9c.5b8064",
                "26d305fe.96c4ca",
                "e1f27813.d47208"
            ]
        ]
    },
    {
        "id": "c0d064ed.b0dbb8",
        "type": "function",
        "z": "5dea54b.a72c0ac",
        "name": "create Json Node",
        "func": "let temp = msg.payload\nlet minTemp = flow.get(\"minTemp\") \nlet maxTemp = flow.get(\"maxTemp\")\nmsg.payload = {\n\"SensorID\": 3303,\n\"TimeStamp\":  Date.now(),\n\"TimeAccuracy\": \"Integer\",\n\"Resources\": {\n\"5700\": msg.payload,\n\"5701\": \"Cel\",\n\"5601\": minTemp,\n\"5602\": maxTemp\n}\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 770,
        "y": 100,
        "wires": [
            [
                "52f83989.f8c278"
            ]
        ]
    },
    {
        "id": "ec3f31bd.2a4ad",
        "type": "delay",
        "z": "5dea54b.a72c0ac",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "x": 350,
        "y": 480,
        "wires": [
            [
                "4c539c90.c292b4"
            ]
        ]
    },
    {
        "id": "e928a229.0795a",
        "type": "delay",
        "z": "5dea54b.a72c0ac",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "x": 350,
        "y": 300,
        "wires": [
            [
                "147b52da.f3b0bd"
            ]
        ]
    },
    {
        "id": "bca41fc6.d5407",
        "type": "delay",
        "z": "5dea54b.a72c0ac",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "x": 350,
        "y": 100,
        "wires": [
            [
                "dc6e75e2.b781c8"
            ]
        ]
    },
    {
        "id": "51cbfed9.37b52",
        "type": "switch",
        "z": "5dea54b.a72c0ac",
        "name": "If min",
        "property": "minTemp",
        "propertyType": "flow",
        "rules": [
            {
                "t": "gt",
                "v": "payload",
                "vt": "msg"
            },
            {
                "t": "istype",
                "v": "undefined",
                "vt": "undefined"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 690,
        "y": 160,
        "wires": [
            [
                "f7ee2849.a112a8"
            ],
            [
                "f7ee2849.a112a8"
            ]
        ]
    },
    {
        "id": "fcdf8b61.d87798",
        "type": "comment",
        "z": "5dea54b.a72c0ac",
        "name": "Speeds & Accelerations with coordinates",
        "info": "",
        "x": 200,
        "y": 580,
        "wires": []
    },
    {
        "id": "3ee602e4.89057e",
        "type": "function",
        "z": "5dea54b.a72c0ac",
        "name": "create Json Node",
        "func": "msg.payload = {\n\"SensorID\": 3322,\n\"TimeStamp\":  Date.now(),\n\"TimeAccuracy\": \"Integer\",\n\"Resources\": {\n\"5700\": msg.payload,\n\"5701\": \"kg\",\n\"5601\": flow.get(\"minLoad\"),\n\"5602\": flow.get(\"maxLoad\")\n}\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 730,
        "y": 300,
        "wires": [
            [
                "421c6deb.5a3294"
            ]
        ]
    },
    {
        "id": "c39315f6.ce1d98",
        "type": "function",
        "z": "5dea54b.a72c0ac",
        "name": "create Json Node",
        "func": "msg.payload = {\n\"SensorID\": 3323,\n\"TimeStamp\":  Date.now(),\n\"TimeAccuracy\": \"Integer\",\n\"Resources\": {\n\"5700\": msg.payload,\n\"5701\": \"kPa\",\n\"5601\": flow.get(\"minPressure\"),\n\"5602\": flow.get(\"maxPressure\")\n}\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 730,
        "y": 480,
        "wires": [
            [
                "3d289e0.91d9462"
            ]
        ]
    },
    {
        "id": "a4162e0a.395f3",
        "type": "change",
        "z": "5dea54b.a72c0ac",
        "name": "set max",
        "rules": [
            {
                "t": "set",
                "p": "maxAccX",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1140,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "8175c93.6b41e38",
        "type": "switch",
        "z": "5dea54b.a72c0ac",
        "name": "If max",
        "property": "maxAccX",
        "propertyType": "flow",
        "rules": [
            {
                "t": "lt",
                "v": "payload",
                "vt": "msg"
            },
            {
                "t": "istype",
                "v": "undefined",
                "vt": "undefined"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 990,
        "y": 600,
        "wires": [
            [
                "a4162e0a.395f3"
            ],
            [
                "a4162e0a.395f3"
            ]
        ]
    },
    {
        "id": "486bf52.0ab0d0c",
        "type": "switch",
        "z": "5dea54b.a72c0ac",
        "name": "if min",
        "property": "minAccX",
        "propertyType": "flow",
        "rules": [
            {
                "t": "gt",
                "v": "payload",
                "vt": "msg"
            },
            {
                "t": "istype",
                "v": "undefined",
                "vt": "undefined"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 990,
        "y": 700,
        "wires": [
            [
                "df3227a7.685228"
            ],
            [
                "df3227a7.685228"
            ]
        ]
    },
    {
        "id": "df3227a7.685228",
        "type": "change",
        "z": "5dea54b.a72c0ac",
        "name": "set min",
        "rules": [
            {
                "t": "set",
                "p": "minAccX",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1140,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "a2c78f96.78155",
        "type": "change",
        "z": "5dea54b.a72c0ac",
        "name": "set max",
        "rules": [
            {
                "t": "set",
                "p": "maxAccY",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1140,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "7aca2d9c.5b8064",
        "type": "switch",
        "z": "5dea54b.a72c0ac",
        "name": "If max",
        "property": "maxAccY",
        "propertyType": "flow",
        "rules": [
            {
                "t": "lt",
                "v": "payload",
                "vt": "msg"
            },
            {
                "t": "istype",
                "v": "undefined",
                "vt": "undefined"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 990,
        "y": 740,
        "wires": [
            [
                "a2c78f96.78155"
            ],
            [
                "a2c78f96.78155"
            ]
        ]
    },
    {
        "id": "26d305fe.96c4ca",
        "type": "switch",
        "z": "5dea54b.a72c0ac",
        "name": "if min",
        "property": "minAccY",
        "propertyType": "flow",
        "rules": [
            {
                "t": "gt",
                "v": "payload",
                "vt": "msg"
            },
            {
                "t": "istype",
                "v": "undefined",
                "vt": "undefined"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 990,
        "y": 820,
        "wires": [
            [
                "b6590af.edc7ff8"
            ],
            [
                "b6590af.edc7ff8"
            ]
        ]
    },
    {
        "id": "b6590af.edc7ff8",
        "type": "change",
        "z": "5dea54b.a72c0ac",
        "name": "set min",
        "rules": [
            {
                "t": "set",
                "p": "minAccY",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1140,
        "y": 820,
        "wires": [
            []
        ]
    },
    {
        "id": "11ccec64.a9f894",
        "type": "change",
        "z": "5dea54b.a72c0ac",
        "name": "set max",
        "rules": [
            {
                "t": "set",
                "p": "maxAccZ",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1140,
        "y": 880,
        "wires": [
            []
        ]
    },
    {
        "id": "b37c064.1446df8",
        "type": "switch",
        "z": "5dea54b.a72c0ac",
        "name": "If max",
        "property": "maxAccZ",
        "propertyType": "flow",
        "rules": [
            {
                "t": "lt",
                "v": "payload",
                "vt": "msg"
            },
            {
                "t": "istype",
                "v": "undefined",
                "vt": "undefined"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 970,
        "y": 880,
        "wires": [
            [
                "11ccec64.a9f894"
            ],
            [
                "11ccec64.a9f894"
            ]
        ]
    },
    {
        "id": "97f0db1a.8003e8",
        "type": "switch",
        "z": "5dea54b.a72c0ac",
        "name": "if min",
        "property": "minAccZ",
        "propertyType": "flow",
        "rules": [
            {
                "t": "gt",
                "v": "payload",
                "vt": "msg"
            },
            {
                "t": "istype",
                "v": "undefined",
                "vt": "undefined"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 970,
        "y": 1000,
        "wires": [
            [
                "c14c44bb.54d6b8"
            ],
            [
                "c14c44bb.54d6b8"
            ]
        ]
    },
    {
        "id": "c14c44bb.54d6b8",
        "type": "change",
        "z": "5dea54b.a72c0ac",
        "name": "set min",
        "rules": [
            {
                "t": "set",
                "p": "minAccZ",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1140,
        "y": 1000,
        "wires": [
            []
        ]
    },
    {
        "id": "81a7e486.3cd3b8",
        "type": "change",
        "z": "5dea54b.a72c0ac",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "aX",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1070,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "64424705.400518",
        "type": "change",
        "z": "5dea54b.a72c0ac",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "aZ",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1010,
        "y": 940,
        "wires": [
            [
                "589f2659.379918"
            ]
        ]
    },
    {
        "id": "e1f27813.d47208",
        "type": "change",
        "z": "5dea54b.a72c0ac",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "aY",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1070,
        "y": 780,
        "wires": [
            []
        ]
    },
    {
        "id": "71c68bf3.83df14",
        "type": "function",
        "z": "5dea54b.a72c0ac",
        "name": "compute acceleration",
        "func": "let aX = flow.get(\"aX\")\nlet aY = flow.get(\"aY\")\nlet aZ = flow.get(\"aZ\")\nlet acc = Math.sqrt(Math.pow(aX,2)+Math.pow(aY,2)+Math.pow(aZ,2))\nmsg.payload = acc;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1020,
        "y": 1040,
        "wires": [
            [
                "44fe64e4.dc21fc"
            ]
        ]
    },
    {
        "id": "44fe64e4.dc21fc",
        "type": "change",
        "z": "5dea54b.a72c0ac",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "acc",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1230,
        "y": 1040,
        "wires": [
            []
        ]
    },
    {
        "id": "589f2659.379918",
        "type": "function",
        "z": "5dea54b.a72c0ac",
        "name": "create Json Node",
        "func": "msg.payload = {\n\"SensorID\": 3313,\n\"TimeStamp\":  Date.now(),\n\"TimeAccuracy\": \"Integer\",\n\"Resources\": {\n\"5702\": flow.get(\"aZ\"),\n\"5703\": flow.get(\"aY\"),\n\"5704\": flow.get(\"aX\"),\n\"5701\": \"m/s2\"\n}\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1210,
        "y": 940,
        "wires": [
            [
                "cd46a484.0c8338"
            ]
        ]
    },
    {
        "id": "52f83989.f8c278",
        "type": "change",
        "z": "5dea54b.a72c0ac",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "tempNode",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 970,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "421c6deb.5a3294",
        "type": "change",
        "z": "5dea54b.a72c0ac",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "loadNode",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 950,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "3d289e0.91d9462",
        "type": "change",
        "z": "5dea54b.a72c0ac",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "pressureNode",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 980,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "cd46a484.0c8338",
        "type": "change",
        "z": "5dea54b.a72c0ac",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "accNode",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1430,
        "y": 940,
        "wires": [
            []
        ]
    },
    {
        "id": "9bc72b10.aa1a48",
        "type": "inject",
        "z": "5dea54b.a72c0ac",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "10",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "x": 130,
        "y": 1160,
        "wires": [
            [
                "5de5b211.35932c"
            ]
        ]
    },
    {
        "id": "c2694e8c.87a24",
        "type": "function",
        "z": "5dea54b.a72c0ac",
        "name": "Final Json",
        "func": "var makeCRCTable = function () {\n    var c;\n    var crcTable = [];\n    for (var n = 0; n < 256; n++) {\n        c = n;\n        for (var k = 0; k < 8; k++) {\n            c = ((c & 1) ? (0xEDB88320 ^ (c >>> 1)) : (c >>> 1));\n        }\n        crcTable[n] = c;\n    }\n    return crcTable;\n}\n\nvar crc32 = function (str) {\n    var crcTable = makeCRCTable();\n    var crc = 0 ^ (-1);\n\n    for (var i = 0; i < str.length; i++) {\n        crc = (crc >>> 8) ^ crcTable[(crc ^ str.charCodeAt(i)) & 0xFF];\n    }\n\n    return (crc ^ (-1)) >>> 0;\n};\n\nfunction extractValues(obj){\n    if(typeof obj == 'object') return Object.values(obj).map(extractValues).flat();\n    return obj;\n}\n\nlet json = {\n\"Service ID\": 100101,\n\"Root\": [{\n\"Gateway\": 0,\n\"Source\": 0,\n\"TimseStamp\": Date.now(),\n}\n],\n\"Nodes\": [\nflow.get(\"node1\"),\nflow.get(\"node2\")\n]\n}\n\n// console.log(\"=================================\")\nlet values = extractValues(json)\nvalues = values.join('')\n// console.log(values)\n// console.log(\"=================================\")\n\nlet crc = crc32(values)\njson[\"CRC\"] = crc\n// console.log(crc)\n\n\nmsg.payload = json;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 890,
        "y": 1160,
        "wires": [
            [
                "577f0988.4c66a8",
                "a6731d99.4d10a"
            ]
        ]
    },
    {
        "id": "5de5b211.35932c",
        "type": "function",
        "z": "5dea54b.a72c0ac",
        "name": "Node 1 (acceleration related)",
        "func": "var makeCRCTable = function () {\n    var c;\n    var crcTable = [];\n    for (var n = 0; n < 256; n++) {\n        c = n;\n        for (var k = 0; k < 8; k++) {\n            c = ((c & 1) ? (0xEDB88320 ^ (c >>> 1)) : (c >>> 1));\n        }\n        crcTable[n] = c;\n    }\n    return crcTable;\n}\n\nvar crc32 = function (str) {\n    var crcTable = makeCRCTable();\n    var crc = 0 ^ (-1);\n\n    for (var i = 0; i < str.length; i++) {\n        crc = (crc >>> 8) ^ crcTable[(crc ^ str.charCodeAt(i)) & 0xFF];\n    }\n\n    return (crc ^ (-1)) >>> 0;\n};\n\nfunction extractValues(obj){\n    if(typeof obj == 'object') return Object.values(obj).map(extractValues).flat();\n    return obj;\n}\n\nlet node1 = {\n    \"Safety\": true,\n    \"NodeID\": \"Integer\",\n    \"TimeStamp\": Date.now(),\n    \"TimeAccuracy\": \"Integer\",\n    \"Sensors-Actuators\": [\n        flow.get(\"accNode\")]\n}\n// console.log(\"=================================\")\nlet values = extractValues(node1)\nvalues = values.join('')\n// console.log(values)\n// console.log(\"=================================\")\n\nlet crc = crc32(values)\nnode1[\"CRC\"] = crc\n// console.log(crc)\n\nflow.set(\"node1\", node1)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 360,
        "y": 1160,
        "wires": [
            [
                "795573cd.e82c4c"
            ]
        ]
    },
    {
        "id": "795573cd.e82c4c",
        "type": "function",
        "z": "5dea54b.a72c0ac",
        "name": "Node 2 (ambiant sensors)",
        "func": "var makeCRCTable = function () {\n    var c;\n    var crcTable = [];\n    for (var n = 0; n < 256; n++) {\n        c = n;\n        for (var k = 0; k < 8; k++) {\n            c = ((c & 1) ? (0xEDB88320 ^ (c >>> 1)) : (c >>> 1));\n        }\n        crcTable[n] = c;\n    }\n    return crcTable;\n}\n\nvar crc32 = function (str) {\n    var crcTable = makeCRCTable();\n    var crc = 0 ^ (-1);\n\n    for (var i = 0; i < str.length; i++) {\n        crc = (crc >>> 8) ^ crcTable[(crc ^ str.charCodeAt(i)) & 0xFF];\n    }\n\n    return (crc ^ (-1)) >>> 0;\n};\n\nfunction extractValues(obj){\n    if(typeof obj == 'object') return Object.values(obj).map(extractValues).flat();\n    return obj;\n}\n\n\nlet node2 = {\n\"Safety\": true,\n\"NodeID\": \"Integer\",\n\"TimeStamp\": Date.now(),\n\"TimeAccuracy\": \"Integer\", \n\"Sensors-Actuators\": [\nflow.get(\"tempNode\"),\nflow.get(\"pressureNode\"),\nflow.get(\"loadNode\")\n]\n}\n\n// console.log(\"=================================\")\nlet values = extractValues(node2)\nvalues = values.join('')\n// console.log(values)\n// console.log(\"=================================\")\n\nlet crc = crc32(values)\nnode2[\"CRC\"] = crc\n// console.log(crc)\n\nflow.set(\"node2\", node2)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 630,
        "y": 1160,
        "wires": [
            [
                "c2694e8c.87a24"
            ]
        ]
    },
    {
        "id": "d46e066.f815bf8",
        "type": "function",
        "z": "5dea54b.a72c0ac",
        "name": "get CRC",
        "func": "var makeCRCTable = function(){\n    var c;\n    var crcTable = [];\n    for(var n =0; n < 256; n++){\n        c = n;\n        for(var k =0; k < 8; k++){\n            c = ((c&1) ? (0xEDB88320 ^ (c >>> 1)) : (c >>> 1));\n        }\n        crcTable[n] = c;\n    }\n    return crcTable;\n}\n\nvar crc32 = function(str) {\n    var crcTable = makeCRCTable();\n    var crc = 0 ^ (-1);\n\n    for (var i = 0; i < str.length; i++ ) {\n        crc = (crc >>> 8) ^ crcTable[(crc ^ str.charCodeAt(i)) & 0xFF];\n    }\n\n    return (crc ^ (-1)) >>> 0;\n};\n\nmsg.payload = crc32(msg.payload)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 420,
        "y": 1300,
        "wires": [
            [
                "4edb43e3.1c518c"
            ]
        ]
    },
    {
        "id": "ffcf15f4.4b0b18",
        "type": "inject",
        "z": "5dea54b.a72c0ac",
        "name": "",
        "topic": "",
        "payload": "trueInteger1600960806125Integer33131600960804378Integerms000",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 170,
        "y": 1300,
        "wires": [
            [
                "d46e066.f815bf8"
            ]
        ]
    },
    {
        "id": "4edb43e3.1c518c",
        "type": "debug",
        "z": "5dea54b.a72c0ac",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 630,
        "y": 1300,
        "wires": []
    },
    {
        "id": "259c8438.0329ac",
        "type": "mqtt out",
        "z": "5dea54b.a72c0ac",
        "name": "dyjnamic mqtt",
        "topic": "",
        "qos": "",
        "retain": "",
        "broker": "35fc1b37.d7e0b4",
        "x": 1280,
        "y": 1160,
        "wires": []
    },
    {
        "id": "577f0988.4c66a8",
        "type": "function",
        "z": "5dea54b.a72c0ac",
        "name": "Generate Topic",
        "func": "var makeCRCTable = function(){\n    var c;\n    var crcTable = [];\n    for(var n =0; n < 256; n++){\n        c = n;\n        for(var k =0; k < 8; k++){\n            c = ((c&1) ? (0xEDB88320 ^ (c >>> 1)) : (c >>> 1));\n        }\n        crcTable[n] = c;\n    }\n    return crcTable;\n}\n\nvar crc32 = function(str) {\n    var crcTable = makeCRCTable();\n    var crc = 0 ^ (-1);\n\n    for (var i = 0; i < str.length; i++ ) {\n        crc = (crc >>> 8) ^ crcTable[(crc ^ str.charCodeAt(i)) & 0xFF];\n    }\n\n    return (crc ^ (-1)) >>> 0;\n};\n\nfunction extractValues(obj){\n    if(typeof obj == 'object') return Object.values(obj).map(extractValues).flat();\n    return obj;\n}\n\nlet topic = \"100/101/121/201/500/101/101/\"\nlet crcHead = crc32(topic)\nlet values = extractValues(msg.payload)\nvalues = values.join('')\nlet crcPay = crc32(values)\nmsg.topic = topic + crcHead + \"/\" + crcPay\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1080,
        "y": 1160,
        "wires": [
            [
                "259c8438.0329ac",
                "abaaebb3.07f3a8"
            ]
        ]
    },
    {
        "id": "abaaebb3.07f3a8",
        "type": "debug",
        "z": "5dea54b.a72c0ac",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "topic",
        "targetType": "msg",
        "x": 1240,
        "y": 1120,
        "wires": []
    },
    {
        "id": "a6731d99.4d10a",
        "type": "debug",
        "z": "5dea54b.a72c0ac",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 950,
        "y": 1220,
        "wires": []
    },
    {
        "id": "9d9d7e49.fd243",
        "type": "function",
        "z": "226498da.550cc8",
        "name": "",
        "func": "let json = JSON.parse(msg.payload)\nfor (let i of json[\"Nodes\"]){\n    for (let k of i[\"Sensors-Actuators\"]){\n        node.send({\n          payload: k,\n          sensor: k.SensorID\n        });\n    }\n}\nreturn;",
        "outputs": 1,
        "noerr": 0,
        "x": 670,
        "y": 200,
        "wires": [
            [
                "2a92e871.6f0678"
            ]
        ]
    },
    {
        "id": "f5ca7928.744628",
        "type": "switch",
        "z": "226498da.550cc8",
        "name": "",
        "property": "sensor",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "3313",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "3330",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "3300",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "3304",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "3322",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "3336",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "3323",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "3303",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "3305",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "3316",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "3341",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 12,
        "x": 950,
        "y": 280,
        "wires": [
            [
                "13003836.3df3c8"
            ],
            [
                "ed089817.984c38"
            ],
            [
                "7a185b08.a6efc4"
            ],
            [
                "70bf8fcf.ed4ef"
            ],
            [
                "8cfa810d.2da68"
            ],
            [
                "20ef47ba.337fa8"
            ],
            [
                "30579552.ba5eba"
            ],
            [
                "9bcbaa85.3ba8b8"
            ],
            [
                "2c6c08.c0d293f8"
            ],
            [
                "17711a23.376cc6"
            ],
            [
                "d6324d19.ecefa"
            ],
            [
                "a7ce63e.7a07ba"
            ]
        ]
    },
    {
        "id": "13003836.3df3c8",
        "type": "function",
        "z": "226498da.550cc8",
        "name": "Accelerometer",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1220,
        "y": 80,
        "wires": [
            [
                "2f1b7109.df1aee"
            ]
        ]
    },
    {
        "id": "ed089817.984c38",
        "type": "function",
        "z": "226498da.550cc8",
        "name": "Distance",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1200,
        "y": 120,
        "wires": [
            [
                "1a6c755e.5f7ceb"
            ]
        ]
    },
    {
        "id": "7a185b08.a6efc4",
        "type": "function",
        "z": "226498da.550cc8",
        "name": "Generic",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1200,
        "y": 160,
        "wires": [
            [
                "fb8ec59d.f82818"
            ]
        ]
    },
    {
        "id": "70bf8fcf.ed4ef",
        "type": "function",
        "z": "226498da.550cc8",
        "name": "Humidity",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1200,
        "y": 200,
        "wires": [
            [
                "bd5f74b9.be09e8"
            ]
        ]
    },
    {
        "id": "8cfa810d.2da68",
        "type": "function",
        "z": "226498da.550cc8",
        "name": "Load",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1190,
        "y": 240,
        "wires": [
            [
                "bf7a0bf3.97b918"
            ]
        ]
    },
    {
        "id": "20ef47ba.337fa8",
        "type": "function",
        "z": "226498da.550cc8",
        "name": "Positioning (GPS)",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1230,
        "y": 280,
        "wires": [
            [
                "fc134ffc.704fc"
            ]
        ]
    },
    {
        "id": "30579552.ba5eba",
        "type": "function",
        "z": "226498da.550cc8",
        "name": "Pressure",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1200,
        "y": 320,
        "wires": [
            [
                "e2f14543.4d5038"
            ]
        ]
    },
    {
        "id": "9bcbaa85.3ba8b8",
        "type": "function",
        "z": "226498da.550cc8",
        "name": "Temperature",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1210,
        "y": 360,
        "wires": [
            [
                "cbbf01aa.ee49b"
            ]
        ]
    },
    {
        "id": "2f1b7109.df1aee",
        "type": "link out",
        "z": "226498da.550cc8",
        "name": "Accelerometer",
        "links": [
            "c9870bc1.c93068"
        ],
        "x": 1475,
        "y": 80,
        "wires": [],
        "l": true
    },
    {
        "id": "1a6c755e.5f7ceb",
        "type": "link out",
        "z": "226498da.550cc8",
        "name": "Distance",
        "links": [
            "45df6490.89002c",
            "67488f6d.d069c"
        ],
        "x": 1450,
        "y": 120,
        "wires": [],
        "l": true
    },
    {
        "id": "fb8ec59d.f82818",
        "type": "link out",
        "z": "226498da.550cc8",
        "name": "Generic",
        "links": [
            "b08e4f9e.fbeaa"
        ],
        "x": 1450,
        "y": 160,
        "wires": [],
        "l": true
    },
    {
        "id": "bd5f74b9.be09e8",
        "type": "link out",
        "z": "226498da.550cc8",
        "name": "Humidity",
        "links": [
            "2174ed5b.381362",
            "be312a61.a9af88"
        ],
        "x": 1450,
        "y": 200,
        "wires": [],
        "l": true
    },
    {
        "id": "bf7a0bf3.97b918",
        "type": "link out",
        "z": "226498da.550cc8",
        "name": "Load",
        "links": [
            "8602afc5.cc25e",
            "ec40e26a.8617"
        ],
        "x": 1440,
        "y": 240,
        "wires": [],
        "l": true
    },
    {
        "id": "fc134ffc.704fc",
        "type": "link out",
        "z": "226498da.550cc8",
        "name": "Positioning (GPS)",
        "links": [
            "5b8255fa.8d079c",
            "3994a4d8.90f70c",
            "2c1f1e8a.5baf12"
        ],
        "x": 1480,
        "y": 280,
        "wires": [],
        "l": true
    },
    {
        "id": "e2f14543.4d5038",
        "type": "link out",
        "z": "226498da.550cc8",
        "name": "Pressure",
        "links": [
            "ed897460.263798",
            "980cc09c.19ccc"
        ],
        "x": 1450,
        "y": 320,
        "wires": [],
        "l": true
    },
    {
        "id": "cbbf01aa.ee49b",
        "type": "link out",
        "z": "226498da.550cc8",
        "name": "Temperature",
        "links": [
            "7c24d994.e32188",
            "b9f6ec31.23ba3"
        ],
        "x": 1460,
        "y": 360,
        "wires": [],
        "l": true
    },
    {
        "id": "c9870bc1.c93068",
        "type": "link in",
        "z": "226498da.550cc8",
        "name": "Accelerometer",
        "links": [
            "2f1b7109.df1aee"
        ],
        "x": 130,
        "y": 620,
        "wires": [
            [
                "e7f7fb99.7222e8"
            ]
        ],
        "l": true
    },
    {
        "id": "faf22fb1.49e83",
        "type": "function",
        "z": "226498da.550cc8",
        "name": "deserialize Acc",
        "func": "msg.payload = {\"Sensor\": \"Accelerometer\",\n\"Units\": msg.payload.Resources[\"5701\"],\n\"X Value\": msg.payload.Resources[\"5702\"],\n\"Y Value\": msg.payload.Resources[\"5703\"],\n\"Z Value\": msg.payload.Resources[\"5704\"]\n}\nreturn msg;\n\n",
        "outputs": 1,
        "noerr": 0,
        "x": 540,
        "y": 620,
        "wires": [
            [
                "7af0cc99.8b2a84",
                "bc85fceb.5853d",
                "e895945d.d8f8d8"
            ]
        ]
    },
    {
        "id": "caec5360.37313",
        "type": "file in",
        "z": "226498da.550cc8",
        "name": "",
        "filename": "",
        "format": "lines",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "x": 430,
        "y": 220,
        "wires": [
            [
                "72089823.281838"
            ]
        ]
    },
    {
        "id": "b08e4f9e.fbeaa",
        "type": "link in",
        "z": "226498da.550cc8",
        "name": "Generic",
        "links": [
            "fb8ec59d.f82818"
        ],
        "x": 150,
        "y": 760,
        "wires": [
            [
                "8ec0ccac.72d77"
            ]
        ],
        "l": true
    },
    {
        "id": "ee41cf97.681a7",
        "type": "function",
        "z": "226498da.550cc8",
        "name": "deserialize Gen",
        "func": "msg.payload = {\"Sensor\": \"Generic\",\n\"Sensor Value\": msg.payload.Resources[\"5700\"],\n\"Sensor Units\": msg.payload.Resources[\"5701\"],\n\n}\nreturn msg;\n\n",
        "outputs": 1,
        "noerr": 0,
        "x": 580,
        "y": 760,
        "wires": [
            [
                "623d2e28.dde11"
            ]
        ]
    },
    {
        "id": "49739ba5.f73c94",
        "type": "ui_chart",
        "z": "226498da.550cc8",
        "name": "",
        "group": "8353f5b9.1e6d48",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Accelerometer X",
        "chartType": "line",
        "legend": "false",
        "xformat": "x",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "100000",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": true,
        "colors": [
            "#1f77b4",
            "#d62728",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 1150,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "7af0cc99.8b2a84",
        "type": "change",
        "z": "226498da.550cc8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[\"X Value\"]",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 780,
        "y": 580,
        "wires": [
            [
                "b993cdf1.9cdb7"
            ]
        ]
    },
    {
        "id": "bc85fceb.5853d",
        "type": "change",
        "z": "226498da.550cc8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[\"Y Value\"]",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 780,
        "y": 620,
        "wires": [
            [
                "89902347.397c9"
            ]
        ]
    },
    {
        "id": "e895945d.d8f8d8",
        "type": "change",
        "z": "226498da.550cc8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[\"Z Value\"]",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 780,
        "y": 660,
        "wires": [
            [
                "e5b1bcda.52ee7"
            ]
        ]
    },
    {
        "id": "e7f7fb99.7222e8",
        "type": "change",
        "z": "226498da.550cc8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "timestamp",
                "pt": "msg",
                "to": "payload[\"TimeStamp\"]",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 330,
        "y": 620,
        "wires": [
            [
                "faf22fb1.49e83"
            ]
        ]
    },
    {
        "id": "b993cdf1.9cdb7",
        "type": "function",
        "z": "226498da.550cc8",
        "name": "",
        "func": "let axData = (flow.get(\"axData\") === undefined) ? [] : flow.get(\"axData\")\naxData.push({\"x\": msg.timestamp, \"y\": msg.payload})\naxData.sort((a, b) => parseFloat(a.x) - parseFloat(b.x));\n\nmsg.payload = [{\n  \"series\": [\"X\"],\n  \"data\": [axData],\n  \"labels\": []\n}];\nflow.set(\"axData\", axData)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 950,
        "y": 580,
        "wires": [
            [
                "49739ba5.f73c94"
            ]
        ]
    },
    {
        "id": "5ed86961.2511a8",
        "type": "delay",
        "z": "226498da.550cc8",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "10",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 800,
        "y": 280,
        "wires": [
            [
                "f5ca7928.744628"
            ]
        ]
    },
    {
        "id": "e7ecef5d.01744",
        "type": "change",
        "z": "226498da.550cc8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "reset",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 280,
        "wires": [
            [
                "5ed86961.2511a8"
            ]
        ]
    },
    {
        "id": "89902347.397c9",
        "type": "function",
        "z": "226498da.550cc8",
        "name": "",
        "func": "let ayData = (flow.get(\"ayData\") === undefined) ? [] : flow.get(\"ayData\")\nayData.push({\"x\": msg.timestamp, \"y\": msg.payload})\nayData.sort((a, b) => parseFloat(a.y) - parseFloat(b.y));\n\nmsg.payload = [{\n  \"series\": [\"y\"],\n  \"data\": [ayData],\n  \"labels\": []\n}];\nflow.set(\"ayData\", ayData)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 950,
        "y": 620,
        "wires": [
            [
                "c9e90e6f.b3dd5"
            ]
        ]
    },
    {
        "id": "e5b1bcda.52ee7",
        "type": "function",
        "z": "226498da.550cc8",
        "name": "",
        "func": "let azData = (flow.get(\"azData\") === undefined) ? [] : flow.get(\"azData\")\nazData.push({\"x\": msg.timestamp, \"y\": msg.payload})\nazData.sort((a, b) => parseFloat(a.z) - parseFloat(b.z));\n\nmsg.payload = [{\n  \"series\": [\"z\"],\n  \"data\": [azData],\n  \"labels\": []\n}];\nflow.set(\"azData\", azData)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 950,
        "y": 660,
        "wires": [
            [
                "caeae0c1.28943"
            ]
        ]
    },
    {
        "id": "c9e90e6f.b3dd5",
        "type": "ui_chart",
        "z": "226498da.550cc8",
        "name": "",
        "group": "8353f5b9.1e6d48",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Accelerometer Y",
        "chartType": "line",
        "legend": "false",
        "xformat": "x",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "100000",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": true,
        "colors": [
            "#1f77b4",
            "#d62728",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 1140,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "caeae0c1.28943",
        "type": "ui_chart",
        "z": "226498da.550cc8",
        "name": "",
        "group": "8353f5b9.1e6d48",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Accelerometer Z",
        "chartType": "line",
        "legend": "false",
        "xformat": "x",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "100000",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": true,
        "colors": [
            "#1f77b4",
            "#d62728",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 1140,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "67488f6d.d069c",
        "type": "link in",
        "z": "226498da.550cc8",
        "name": "Distance",
        "links": [
            "1a6c755e.5f7ceb"
        ],
        "x": 220,
        "y": 1360,
        "wires": [
            [
                "5e83e965.bc5548"
            ]
        ],
        "l": true
    },
    {
        "id": "be312a61.a9af88",
        "type": "link in",
        "z": "226498da.550cc8",
        "name": "Humidity",
        "links": [
            "bd5f74b9.be09e8"
        ],
        "x": 760,
        "y": 1340,
        "wires": [
            [
                "abf3689.dd03998"
            ]
        ],
        "l": true
    },
    {
        "id": "ec40e26a.8617",
        "type": "link in",
        "z": "226498da.550cc8",
        "name": "Load",
        "links": [
            "bf7a0bf3.97b918"
        ],
        "x": 190,
        "y": 1500,
        "wires": [
            [
                "f56f0ba9.350098"
            ]
        ],
        "l": true
    },
    {
        "id": "980cc09c.19ccc",
        "type": "link in",
        "z": "226498da.550cc8",
        "name": "Pressure",
        "links": [
            "e2f14543.4d5038"
        ],
        "x": 200,
        "y": 1620,
        "wires": [
            [
                "a87d35ca.216b08"
            ]
        ],
        "l": true
    },
    {
        "id": "b9f6ec31.23ba3",
        "type": "link in",
        "z": "226498da.550cc8",
        "name": "Temperature",
        "links": [
            "cbbf01aa.ee49b"
        ],
        "x": 750,
        "y": 1640,
        "wires": [
            [
                "e6b1c577.60f998"
            ]
        ],
        "l": true
    },
    {
        "id": "f56f0ba9.350098",
        "type": "debug",
        "z": "226498da.550cc8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 350,
        "y": 1440,
        "wires": []
    },
    {
        "id": "a87d35ca.216b08",
        "type": "debug",
        "z": "226498da.550cc8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 330,
        "y": 1580,
        "wires": []
    },
    {
        "id": "e6b1c577.60f998",
        "type": "debug",
        "z": "226498da.550cc8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 870,
        "y": 1600,
        "wires": []
    },
    {
        "id": "abf3689.dd03998",
        "type": "debug",
        "z": "226498da.550cc8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 930,
        "y": 1300,
        "wires": []
    },
    {
        "id": "5e83e965.bc5548",
        "type": "debug",
        "z": "226498da.550cc8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 350,
        "y": 1300,
        "wires": []
    },
    {
        "id": "8ec0ccac.72d77",
        "type": "change",
        "z": "226498da.550cc8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "timestamp",
                "pt": "msg",
                "to": "payload[\"TimeStamp\"]",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 350,
        "y": 760,
        "wires": [
            [
                "ee41cf97.681a7"
            ]
        ]
    },
    {
        "id": "623d2e28.dde11",
        "type": "change",
        "z": "226498da.550cc8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[\"Sensor Value\"]",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 780,
        "y": 760,
        "wires": [
            [
                "f35e706b.1d85c"
            ]
        ]
    },
    {
        "id": "f35e706b.1d85c",
        "type": "function",
        "z": "226498da.550cc8",
        "name": "",
        "func": "let genData = (flow.get(\"genData\") === undefined) ? [] : flow.get(\"genData\")\ngenData.push({\"x\": msg.timestamp, \"y\": msg.payload})\ngenData.sort((a, b) => parseFloat(a.x) - parseFloat(b.x));\n\nmsg.payload = [{\n  \"series\": [\"x\"],\n  \"data\": [genData],\n  \"labels\": []\n}];\nflow.set(\"genData\", genData)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 950,
        "y": 760,
        "wires": [
            [
                "1ea49d29.581003"
            ]
        ]
    },
    {
        "id": "1ea49d29.581003",
        "type": "ui_chart",
        "z": "226498da.550cc8",
        "name": "",
        "group": "97e87320.fb096",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Generic",
        "chartType": "line",
        "legend": "false",
        "xformat": "x",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "100000",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": true,
        "colors": [
            "#1f77b4",
            "#d62728",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 1080,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "2c1f1e8a.5baf12",
        "type": "link in",
        "z": "226498da.550cc8",
        "name": "Positioning",
        "links": [
            "fc134ffc.704fc"
        ],
        "x": 160,
        "y": 880,
        "wires": [
            [
                "4993deb0.c06b2"
            ]
        ],
        "l": true
    },
    {
        "id": "27187ae4.ad57b6",
        "type": "function",
        "z": "226498da.550cc8",
        "name": "deserialize Pos",
        "func": "msg.payload = {\"Sensor\": \"Positioning\",\n\"Latitude\": msg.payload.Resources[\"5513\"],\n\"Longitude\": msg.payload.Resources[\"5514\"],\n\"Altitude\": msg.payload.Resources[\"5515\"],\n\"Timestamp\": msg.payload.Resources[\"5518\"]\n}\nreturn msg;\n\n",
        "outputs": 1,
        "noerr": 0,
        "x": 580,
        "y": 880,
        "wires": [
            [
                "35d4cae8.8207e6",
                "c77572a3.ee18",
                "6205e0d5.93115"
            ]
        ]
    },
    {
        "id": "4993deb0.c06b2",
        "type": "change",
        "z": "226498da.550cc8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "timestamp",
                "pt": "msg",
                "to": "payload[\"TimeStamp\"]",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 370,
        "y": 880,
        "wires": [
            [
                "27187ae4.ad57b6"
            ]
        ]
    },
    {
        "id": "35d4cae8.8207e6",
        "type": "change",
        "z": "226498da.550cc8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[\"Longitude\"]",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 780,
        "y": 880,
        "wires": [
            [
                "6965b15a.4a83e"
            ]
        ]
    },
    {
        "id": "6965b15a.4a83e",
        "type": "function",
        "z": "226498da.550cc8",
        "name": "",
        "func": "let longitude = (flow.get(\"longitude\") === undefined) ? [] : flow.get(\"longitude\")\nlongitude.push({\"x\": msg.timestamp, \"y\": msg.payload})\nlongitude.sort((a, b) => parseFloat(a.x) - parseFloat(b.x));\n\nmsg.payload = [{\n  \"series\": [\"x\"],\n  \"data\": [longitude],\n  \"labels\": []\n}];\nflow.set(\"longitude\", longitude)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 950,
        "y": 880,
        "wires": [
            [
                "4cc9a5ac.3ca24c"
            ]
        ]
    },
    {
        "id": "4cc9a5ac.3ca24c",
        "type": "ui_chart",
        "z": "226498da.550cc8",
        "name": "",
        "group": "ab38f54a.53ffd8",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Longitude",
        "chartType": "line",
        "legend": "false",
        "xformat": "x",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "100000",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": true,
        "colors": [
            "#1f77b4",
            "#d62728",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 1080,
        "y": 880,
        "wires": [
            []
        ]
    },
    {
        "id": "c77572a3.ee18",
        "type": "change",
        "z": "226498da.550cc8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[\"Latitude\"]",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 780,
        "y": 840,
        "wires": [
            [
                "7fa6e2fa.7c585c"
            ]
        ]
    },
    {
        "id": "7fa6e2fa.7c585c",
        "type": "function",
        "z": "226498da.550cc8",
        "name": "",
        "func": "let latitude = (flow.get(\"latitude\") === undefined) ? [] : flow.get(\"latitude\")\nlatitude.push({\"x\": msg.timestamp, \"y\": msg.payload})\nlatitude.sort((a, b) => parseFloat(a.x) - parseFloat(b.x));\n\nmsg.payload = [{\n  \"series\": [\"x\"],\n  \"data\": [latitude],\n  \"labels\": []\n}];\nflow.set(\"latitude\", latitude)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 950,
        "y": 840,
        "wires": [
            [
                "2dceae29.879492"
            ]
        ]
    },
    {
        "id": "6205e0d5.93115",
        "type": "change",
        "z": "226498da.550cc8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[\"Altitude\"]",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 780,
        "y": 920,
        "wires": [
            [
                "fc987dc2.7a49c"
            ]
        ]
    },
    {
        "id": "fc987dc2.7a49c",
        "type": "function",
        "z": "226498da.550cc8",
        "name": "",
        "func": "let altitude = (flow.get(\"altitude\") === undefined) ? [] : flow.get(\"altitude\")\naltitude.push({\"x\": msg.timestamp, \"y\": msg.payload})\naltitude.sort((a, b) => parseFloat(a.x) - parseFloat(b.x));\n\nmsg.payload = [{\n  \"series\": [\"x\"],\n  \"data\": [altitude],\n  \"labels\": []\n}];\nflow.set(\"altitude\", altitude)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 950,
        "y": 920,
        "wires": [
            [
                "7d0e912c.1b5d2"
            ]
        ]
    },
    {
        "id": "2dceae29.879492",
        "type": "ui_chart",
        "z": "226498da.550cc8",
        "name": "",
        "group": "ab38f54a.53ffd8",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Latitude",
        "chartType": "line",
        "legend": "false",
        "xformat": "x",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "100000",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": true,
        "colors": [
            "#1f77b4",
            "#d62728",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 1080,
        "y": 840,
        "wires": [
            []
        ]
    },
    {
        "id": "7d0e912c.1b5d2",
        "type": "ui_chart",
        "z": "226498da.550cc8",
        "name": "",
        "group": "ab38f54a.53ffd8",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Altitude",
        "chartType": "line",
        "legend": "false",
        "xformat": "x",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "100000",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": true,
        "colors": [
            "#1f77b4",
            "#d62728",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 1080,
        "y": 920,
        "wires": [
            []
        ]
    },
    {
        "id": "2c6c08.c0d293f8",
        "type": "function",
        "z": "226498da.550cc8",
        "name": "3305",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1200,
        "y": 400,
        "wires": [
            [
                "14fd6c08.2b25a4"
            ]
        ]
    },
    {
        "id": "17711a23.376cc6",
        "type": "function",
        "z": "226498da.550cc8",
        "name": "3316",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1200,
        "y": 440,
        "wires": [
            [
                "4e2e9c9b.f7a854"
            ]
        ]
    },
    {
        "id": "14fd6c08.2b25a4",
        "type": "link out",
        "z": "226498da.550cc8",
        "name": "3305",
        "links": [
            "3b5c20e1.f4dc6"
        ],
        "x": 1440,
        "y": 400,
        "wires": [],
        "l": true
    },
    {
        "id": "4e2e9c9b.f7a854",
        "type": "link out",
        "z": "226498da.550cc8",
        "name": "3316",
        "links": [
            "aef555fe.e22458"
        ],
        "x": 1440,
        "y": 440,
        "wires": [],
        "l": true
    },
    {
        "id": "d6324d19.ecefa",
        "type": "function",
        "z": "226498da.550cc8",
        "name": "3341",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1200,
        "y": 480,
        "wires": [
            [
                "8ab4e96b.9ac4e8"
            ]
        ]
    },
    {
        "id": "8ab4e96b.9ac4e8",
        "type": "link out",
        "z": "226498da.550cc8",
        "name": "3341",
        "links": [
            "9662c0ec.3166d"
        ],
        "x": 1440,
        "y": 480,
        "wires": [],
        "l": true
    },
    {
        "id": "a7ce63e.7a07ba",
        "type": "function",
        "z": "226498da.550cc8",
        "name": "Unknown",
        "func": "console.log(\"Unknown Sensor\" + msg.payload)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1210,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "aef555fe.e22458",
        "type": "link in",
        "z": "226498da.550cc8",
        "name": "3316",
        "links": [
            "4e2e9c9b.f7a854"
        ],
        "x": 170,
        "y": 1020,
        "wires": [
            [
                "50e04d6d.ae7ec4"
            ]
        ],
        "l": true
    },
    {
        "id": "53f9ecb2.4e1634",
        "type": "function",
        "z": "226498da.550cc8",
        "name": "deserialize 3316",
        "func": "msg.payload = {\"Sensor\": \"3316\",\n\"Sensor Value\": msg.payload.Resources[\"5700\"],\n\"Sensor Units\": msg.payload.Resources[\"5701\"],\n\n}\nreturn msg;\n\n",
        "outputs": 1,
        "noerr": 0,
        "x": 600,
        "y": 1020,
        "wires": [
            [
                "8d805f1d.a67e5"
            ]
        ]
    },
    {
        "id": "50e04d6d.ae7ec4",
        "type": "change",
        "z": "226498da.550cc8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "timestamp",
                "pt": "msg",
                "to": "payload[\"TimeStamp\"]",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 370,
        "y": 1020,
        "wires": [
            [
                "53f9ecb2.4e1634"
            ]
        ]
    },
    {
        "id": "8d805f1d.a67e5",
        "type": "change",
        "z": "226498da.550cc8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[\"Sensor Value\"]",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 800,
        "y": 1020,
        "wires": [
            [
                "64b71f74.4a1"
            ]
        ]
    },
    {
        "id": "64b71f74.4a1",
        "type": "function",
        "z": "226498da.550cc8",
        "name": "",
        "func": "let unknown1 = (flow.get(\"unknown1\") === undefined) ? [] : flow.get(\"unknown1\")\nunknown1.push({\"x\": msg.timestamp, \"y\": msg.payload})\nunknown1.sort((a, b) => parseFloat(a.x) - parseFloat(b.x));\n\nmsg.payload = [{\n  \"series\": [\"x\"],\n  \"data\": [unknown1],\n  \"labels\": []\n}];\nflow.set(\"unknown1\", unknown1)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 970,
        "y": 1020,
        "wires": [
            [
                "8994f0c1.bdf36"
            ]
        ]
    },
    {
        "id": "8994f0c1.bdf36",
        "type": "ui_chart",
        "z": "226498da.550cc8",
        "name": "",
        "group": "922cfd03.b3777",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "3316",
        "chartType": "line",
        "legend": "false",
        "xformat": "x",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "100000",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": true,
        "colors": [
            "#1f77b4",
            "#d62728",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 1090,
        "y": 1020,
        "wires": [
            []
        ]
    },
    {
        "id": "3b5c20e1.f4dc6",
        "type": "link in",
        "z": "226498da.550cc8",
        "name": "3305",
        "links": [
            "14fd6c08.2b25a4"
        ],
        "x": 170,
        "y": 1100,
        "wires": [
            [
                "2c628adb.803416"
            ]
        ],
        "l": true
    },
    {
        "id": "7a68c1e8.ec6fc",
        "type": "function",
        "z": "226498da.550cc8",
        "name": "deserialize 3305",
        "func": "msg.payload = {\"Sensor\": \"3305\",\n\"Sensor Value\": msg.payload.Resources[\"5800\"],\n\"Sensor Units\": msg.payload.Resources[\"5801\"],\n\n}\nreturn msg;\n\n",
        "outputs": 1,
        "noerr": 0,
        "x": 600,
        "y": 1100,
        "wires": [
            [
                "f31d194a.3bd5c8"
            ]
        ]
    },
    {
        "id": "2c628adb.803416",
        "type": "change",
        "z": "226498da.550cc8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "timestamp",
                "pt": "msg",
                "to": "payload[\"TimeStamp\"]",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 370,
        "y": 1100,
        "wires": [
            [
                "7a68c1e8.ec6fc"
            ]
        ]
    },
    {
        "id": "f31d194a.3bd5c8",
        "type": "change",
        "z": "226498da.550cc8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[\"Sensor Value\"]",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 800,
        "y": 1100,
        "wires": [
            [
                "2583a9f6.d32816"
            ]
        ]
    },
    {
        "id": "2583a9f6.d32816",
        "type": "function",
        "z": "226498da.550cc8",
        "name": "",
        "func": "let u3305 = (flow.get(\"u3305\") === undefined) ? [] : flow.get(\"u3305\")\nu3305.push({\"x\": msg.timestamp, \"y\": msg.payload})\nu3305.sort((a, b) => parseFloat(a.x) - parseFloat(b.x));\n\nmsg.payload = [{\n  \"series\": [\"x\"],\n  \"data\": [u3305],\n  \"labels\": []\n}];\nflow.set(\"u3305\", u3305)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 970,
        "y": 1100,
        "wires": [
            [
                "c602fc21.724cb"
            ]
        ]
    },
    {
        "id": "c602fc21.724cb",
        "type": "ui_chart",
        "z": "226498da.550cc8",
        "name": "",
        "group": "922cfd03.b3777",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "3305",
        "chartType": "line",
        "legend": "false",
        "xformat": "x",
        "interpolate": "step",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "100000",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": true,
        "colors": [
            "#1f77b4",
            "#d62728",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 1090,
        "y": 1100,
        "wires": [
            []
        ]
    },
    {
        "id": "9662c0ec.3166d",
        "type": "link in",
        "z": "226498da.550cc8",
        "name": "3341",
        "links": [
            "8ab4e96b.9ac4e8"
        ],
        "x": 170,
        "y": 1160,
        "wires": [
            [
                "f28b8066.b4a57"
            ]
        ],
        "l": true
    },
    {
        "id": "57bab810.5d9ee8",
        "type": "function",
        "z": "226498da.550cc8",
        "name": "deserialize 3341",
        "func": "msg.payload = {\"Sensor\": \"3341\",\n\"?\": msg.payload.Resources[\"5527\"],\n}\nreturn msg;\n\n",
        "outputs": 1,
        "noerr": 0,
        "x": 600,
        "y": 1160,
        "wires": [
            [
                "30939d2c.155c22"
            ]
        ]
    },
    {
        "id": "f28b8066.b4a57",
        "type": "change",
        "z": "226498da.550cc8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "timestamp",
                "pt": "msg",
                "to": "payload[\"TimeStamp\"]",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 370,
        "y": 1160,
        "wires": [
            [
                "57bab810.5d9ee8"
            ]
        ]
    },
    {
        "id": "30939d2c.155c22",
        "type": "change",
        "z": "226498da.550cc8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[\"?\"]",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 800,
        "y": 1160,
        "wires": [
            [
                "47e8730c.98360c"
            ]
        ]
    },
    {
        "id": "47e8730c.98360c",
        "type": "function",
        "z": "226498da.550cc8",
        "name": "",
        "func": "let u3341 = (flow.get(\"u3341\") === undefined) ? [] : flow.get(\"u3341\")\nu3341.push({\"x\": msg.timestamp, \"y\": msg.payload})\nu3341.sort((a, b) => parseFloat(a.x) - parseFloat(b.x));\n\nmsg.payload = [{\n  \"series\": [\"x\"],\n  \"data\": [u3341],\n  \"labels\": []\n}];\nflow.set(\"u3341\", u3341)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 970,
        "y": 1160,
        "wires": [
            [
                "47160061.9495d"
            ]
        ]
    },
    {
        "id": "47160061.9495d",
        "type": "ui_chart",
        "z": "226498da.550cc8",
        "name": "",
        "group": "922cfd03.b3777",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "3341",
        "chartType": "line",
        "legend": "false",
        "xformat": "x",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "100000",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": true,
        "colors": [
            "#1f77b4",
            "#d62728",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 1090,
        "y": 1160,
        "wires": [
            []
        ]
    },
    {
        "id": "61553198.69a35",
        "type": "mqtt in",
        "z": "226498da.550cc8",
        "name": "",
        "topic": "#",
        "qos": "2",
        "datatype": "auto",
        "broker": "35fc1b37.d7e0b4",
        "x": 430,
        "y": 160,
        "wires": [
            [
                "84ea0a8c.4914d8"
            ]
        ]
    },
    {
        "id": "72089823.281838",
        "type": "switch",
        "z": "226498da.550cc8",
        "name": "",
        "property": "mqtt",
        "propertyType": "flow",
        "rules": [
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 550,
        "y": 220,
        "wires": [
            [
                "9d9d7e49.fd243"
            ]
        ]
    },
    {
        "id": "84ea0a8c.4914d8",
        "type": "switch",
        "z": "226498da.550cc8",
        "name": "",
        "property": "mqtt",
        "propertyType": "flow",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 550,
        "y": 160,
        "wires": [
            [
                "9d9d7e49.fd243"
            ]
        ]
    },
    {
        "id": "6f7b35b1.ace48c",
        "type": "function",
        "z": "226498da.550cc8",
        "name": "Reset Data",
        "func": "flow.set(\"axData\", [])\nflow.set(\"ayData\", [])\nflow.set(\"azData\", [])\nflow.set(\"genData\", [])\nflow.set(\"latitude\", [])\nflow.set(\"longitude\", [])\nflow.set(\"altitude\", [])\nflow.set(\"unknown1\", [])\nflow.set(\"u3305\", [])\nflow.set(\"u3341\", [])\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 390,
        "y": 280,
        "wires": [
            [
                "e7ecef5d.01744"
            ]
        ]
    },
    {
        "id": "a8c1b2ff.2f791",
        "type": "ui_button",
        "z": "226498da.550cc8",
        "name": "Reset",
        "group": "ffd445ba.5e9498",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Reset",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "[]",
        "payloadType": "json",
        "topic": "",
        "x": 130,
        "y": 40,
        "wires": [
            [
                "2073ed5c.994f72"
            ]
        ]
    },
    {
        "id": "241920c6.73aac",
        "type": "ui_switch",
        "z": "226498da.550cc8",
        "name": "",
        "label": "Pause",
        "tooltip": "",
        "group": "ffd445ba.5e9498",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 230,
        "y": 300,
        "wires": [
            [
                "6f7b35b1.ace48c",
                "dfbf92d8.93e69"
            ]
        ]
    },
    {
        "id": "dfbf92d8.93e69",
        "type": "change",
        "z": "226498da.550cc8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "isPaused",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 410,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "2a92e871.6f0678",
        "type": "switch",
        "z": "226498da.550cc8",
        "name": "",
        "property": "isPaused",
        "propertyType": "flow",
        "rules": [
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 810,
        "y": 200,
        "wires": [
            [
                "5ed86961.2511a8"
            ]
        ]
    },
    {
        "id": "2073ed5c.994f72",
        "type": "link out",
        "z": "226498da.550cc8",
        "name": "Reset",
        "links": [
            "aa986a02.f6b828",
            "75cb8f0a.5d02e",
            "a99f4f1.fac8cb",
            "c9c3093b.029c88",
            "7d9a521.44657ac",
            "f99bca6f.086728"
        ],
        "x": 270,
        "y": 40,
        "wires": [],
        "l": true
    },
    {
        "id": "aa986a02.f6b828",
        "type": "link in",
        "z": "226498da.550cc8",
        "name": "Reset",
        "links": [
            "2073ed5c.994f72"
        ],
        "x": 990,
        "y": 540,
        "wires": [
            [
                "49739ba5.f73c94",
                "c9e90e6f.b3dd5",
                "caeae0c1.28943"
            ]
        ],
        "l": true
    },
    {
        "id": "75cb8f0a.5d02e",
        "type": "link in",
        "z": "226498da.550cc8",
        "name": "Reset",
        "links": [
            "2073ed5c.994f72"
        ],
        "x": 950,
        "y": 720,
        "wires": [
            [
                "1ea49d29.581003"
            ]
        ],
        "l": true
    },
    {
        "id": "a99f4f1.fac8cb",
        "type": "link in",
        "z": "226498da.550cc8",
        "name": "Reset",
        "links": [
            "2073ed5c.994f72"
        ],
        "x": 950,
        "y": 800,
        "wires": [
            [
                "2dceae29.879492",
                "4cc9a5ac.3ca24c",
                "7d0e912c.1b5d2"
            ]
        ],
        "l": true
    },
    {
        "id": "c9c3093b.029c88",
        "type": "link in",
        "z": "226498da.550cc8",
        "name": "Reset",
        "links": [
            "2073ed5c.994f72"
        ],
        "x": 970,
        "y": 980,
        "wires": [
            [
                "8994f0c1.bdf36"
            ]
        ],
        "l": true
    },
    {
        "id": "7d9a521.44657ac",
        "type": "link in",
        "z": "226498da.550cc8",
        "name": "Reset",
        "links": [
            "2073ed5c.994f72"
        ],
        "x": 970,
        "y": 1060,
        "wires": [
            [
                "c602fc21.724cb"
            ]
        ],
        "l": true
    },
    {
        "id": "f99bca6f.086728",
        "type": "link in",
        "z": "226498da.550cc8",
        "name": "Reset",
        "links": [
            "2073ed5c.994f72"
        ],
        "x": 970,
        "y": 1200,
        "wires": [
            [
                "47160061.9495d"
            ]
        ],
        "l": true
    },
    {
        "id": "e7d51df2.eb41c",
        "type": "ui_switch",
        "z": "226498da.550cc8",
        "name": "",
        "label": "file / mqtt",
        "tooltip": "",
        "group": "ffd445ba.5e9498",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 150,
        "y": 100,
        "wires": [
            [
                "9d5d1519.798608"
            ]
        ]
    },
    {
        "id": "9d5d1519.798608",
        "type": "change",
        "z": "226498da.550cc8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "mqtt",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 330,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "cfd94b11.2c8238",
        "type": "ui_text_input",
        "z": "226498da.550cc8",
        "name": "",
        "label": "",
        "tooltip": "filename",
        "group": "ffd445ba.5e9498",
        "order": 2,
        "width": "3",
        "height": "1",
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "",
        "x": 520,
        "y": 100,
        "wires": [
            [
                "bbe6d8fc.5e87d8"
            ]
        ]
    },
    {
        "id": "3c709d6f.169b72",
        "type": "ui_button",
        "z": "226498da.550cc8",
        "name": "",
        "group": "ffd445ba.5e9498",
        "order": 3,
        "width": "1",
        "height": "1",
        "passthru": false,
        "label": "ok",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "filename",
        "payloadType": "flow",
        "topic": "",
        "x": 110,
        "y": 220,
        "wires": [
            [
                "e25febb1.32f0b8"
            ]
        ]
    },
    {
        "id": "bbe6d8fc.5e87d8",
        "type": "change",
        "z": "226498da.550cc8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "filename",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 700,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "e25febb1.32f0b8",
        "type": "change",
        "z": "226498da.550cc8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "filename",
                "pt": "msg",
                "to": "filename",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 270,
        "y": 220,
        "wires": [
            [
                "caec5360.37313"
            ]
        ]
    }
]
