NodeRed/flow.json
[
	{
		"id": "ea8c566e.d355c",
		"type": "tab",
		"label": "Dashboard",
		"disabled": false,
		"info": ""
	},
	{
		"id": "e36ddb59.9c3dc8",
		"type": "tab",
		"label": "Drift",
		"disabled": false,
		"info": ""
	},
	{
		"id": "639a45f0.dff854",
		"type": "mqtt-broker",
		"z": "",
		"name": "",
		"broker": "localhost",
		"port": "1883",
		"clientid": "",
		"usetls": false,
		"compatmode": false,
		"keepalive": "60",
		"cleansession": true,
		"birthTopic": "",
		"birthQos": "0",
		"birthPayload": "",
		"closeTopic": "",
		"closeQos": "0",
		"closePayload": "",
		"willTopic": "",
		"willQos": "0",
		"willPayload": ""
	},
	{
		"id": "c84d2092.52a138",
		"type": "ui_tab",
		"z": "",
		"name": "Train Dashboard",
		"icon": "dashboard",
		"disabled": false,
		"hidden": false
	},
	{
		"id": "3092e1cf.da6b1e",
		"type": "ui_group",
		"z": "",
		"name": "Infos",
		"tab": "c84d2092.52a138",
		"order": 5,
		"disp": true,
		"width": "6",
		"collapse": false
	},
	{
		"id": "a702fd9b.20a668",
		"type": "ui_group",
		"z": "",
		"name": "Power",
		"tab": "c84d2092.52a138",
		"order": 2,
		"disp": true,
		"width": "6",
		"collapse": false
	},
	{
		"id": "200069bc.161bae",
		"type": "ui_group",
		"z": "",
		"name": "Brake",
		"tab": "c84d2092.52a138",
		"order": 3,
		"disp": true,
		"width": "6",
		"collapse": false
	},
	{
		"id": "a9af0f8a.4ddbd8",
		"type": "ui_group",
		"z": "",
		"name": "Doors",
		"tab": "c84d2092.52a138",
		"order": 4,
		"disp": true,
		"width": "6",
		"collapse": false
	},
	{
		"id": "93aed373.e892f8",
		"type": "ui_group",
		"z": "",
		"name": "Speed",
		"tab": "c84d2092.52a138",
		"order": 1,
		"disp": true,
		"width": "6",
		"collapse": false
	},
	{
		"id": "ba91c79a.2c127",
		"type": "ui_group",
		"z": "",
		"name": "Drift",
		"tab": "cb2e75e.27a2088",
		"order": 6,
		"disp": true,
		"width": "6",
		"collapse": false
	},
	{
		"id": "cb2e75e.27a2088",
		"type": "ui_tab",
		"z": "",
		"name": "Train Drift",
		"icon": "dashboard",
		"disabled": false,
		"hidden": false
	},
	{
		"id": "26b46872.9014b8",
		"type": "ui_base",
		"theme": {
			"name": "theme-dark",
			"lightTheme": {
				"default": "#0094CE",
				"baseColor": "#0094CE",
				"baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
				"edited": true,
				"reset": false
			},
			"darkTheme": {
				"default": "#097479",
				"baseColor": "#097479",
				"baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
				"edited": true,
				"reset": false
			},
			"customTheme": {
				"name": "Untitled Theme 1",
				"default": "#4B7930",
				"baseColor": "#4B7930",
				"baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
			},
			"themeState": {
				"base-color": {
					"default": "#097479",
					"value": "#097479",
					"edited": false
				},
				"page-titlebar-backgroundColor": {
					"value": "#097479",
					"edited": false
				},
				"page-backgroundColor": {
					"value": "#111111",
					"edited": false
				},
				"page-sidebar-backgroundColor": {
					"value": "#000000",
					"edited": false
				},
				"group-textColor": {
					"value": "#0eb8c0",
					"edited": false
				},
				"group-borderColor": {
					"value": "#555555",
					"edited": false
				},
				"group-backgroundColor": {
					"value": "#333333",
					"edited": false
				},
				"widget-textColor": {
					"value": "#eeeeee",
					"edited": false
				},
				"widget-backgroundColor": {
					"value": "#097479",
					"edited": false
				},
				"widget-borderColor": {
					"value": "#333333",
					"edited": false
				},
				"base-font": {
					"value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
				}
			},
			"angularTheme": {
				"primary": "indigo",
				"accents": "blue",
				"warn": "red",
				"background": "grey"
			}
		},
		"site": {
			"name": "Node-RED Dashboard",
			"hideToolbar": "false",
			"allowSwipe": "false",
			"lockMenu": "false",
			"allowTempTheme": "true",
			"dateFormat": "DD/MM/YYYY",
			"sizes": {
				"sx": 48,
				"sy": 48,
				"gx": 6,
				"gy": 6,
				"cx": 6,
				"cy": 6,
				"px": 0,
				"py": 0
			}
		}
	},
	{
		"id": "a9e67ca6.472a9",
		"type": "mqtt in",
		"z": "ea8c566e.d355c",
		"name": "",
		"topic": "/train/sensors/currentSpeed",
		"qos": "0",
		"datatype": "auto",
		"broker": "639a45f0.dff854",
		"x": 160,
		"y": 160,
		"wires": [
			[
				"babdd154.2d11a",
				"1ee9f614.4375b2"
			]
		]
	},
	{
		"id": "babdd154.2d11a",
		"type": "ui_gauge",
		"z": "ea8c566e.d355c",
		"name": "",
		"group": "93aed373.e892f8",
		"order": 1,
		"width": 0,
		"height": 0,
		"gtype": "gage",
		"title": "Speed",
		"label": "units",
		"format": "{{value}}",
		"min": 0,
		"max": "200",
		"colors": [
			"#00b500",
			"#e6e600",
			"#ca3838"
		],
		"seg1": "",
		"seg2": "",
		"x": 350,
		"y": 140,
		"wires": []
	},
	{
		"id": "52434177.ab70c",
		"type": "mqtt in",
		"z": "ea8c566e.d355c",
		"name": "",
		"topic": "/train/sensors/currentAvgAcc",
		"qos": "0",
		"datatype": "auto",
		"broker": "639a45f0.dff854",
		"x": 160,
		"y": 100,
		"wires": [
			[
				"8b428a1f.0edc08"
			]
		]
	},
	{
		"id": "8b428a1f.0edc08",
		"type": "ui_text",
		"z": "ea8c566e.d355c",
		"group": "93aed373.e892f8",
		"order": 3,
		"width": 0,
		"height": 0,
		"name": "",
		"label": "Acceleration : ",
		"format": "{{msg.payload}}",
		"layout": "row-left",
		"x": 380,
		"y": 100,
		"wires": []
	},
	{
		"id": "b6ebeb7c.b4c1d8",
		"type": "mqtt out",
		"z": "ea8c566e.d355c",
		"name": "",
		"topic": "/train/actuators/powerUp",
		"qos": "",
		"retain": "",
		"broker": "639a45f0.dff854",
		"x": 350,
		"y": 480,
		"wires": []
	},
	{
		"id": "979621ac.f54158",
		"type": "inject",
		"z": "ea8c566e.d355c",
		"name": "",
		"topic": "",
		"payload": "",
		"payloadType": "date",
		"repeat": "",
		"crontab": "",
		"once": false,
		"onceDelay": 0.1,
		"x": 100,
		"y": 500,
		"wires": [
			[
				"b6ebeb7c.b4c1d8"
			]
		]
	},
	{
		"id": "226f680e.8e134",
		"type": "mqtt out",
		"z": "ea8c566e.d355c",
		"name": "",
		"topic": "/train/actuators/powerDown",
		"qos": "",
		"retain": "",
		"broker": "639a45f0.dff854",
		"x": 360,
		"y": 580,
		"wires": []
	},
	{
		"id": "f2baf806.c3fe9",
		"type": "inject",
		"z": "ea8c566e.d355c",
		"name": "",
		"topic": "",
		"payload": "",
		"payloadType": "date",
		"repeat": "",
		"crontab": "",
		"once": false,
		"onceDelay": 0.1,
		"x": 100,
		"y": 560,
		"wires": [
			[
				"226f680e.8e134"
			]
		]
	},
	{
		"id": "1f4ae300.7ffc95",
		"type": "ui_button",
		"z": "ea8c566e.d355c",
		"name": "",
		"group": "a702fd9b.20a668",
		"order": 2,
		"width": "3",
		"height": "1",
		"passthru": false,
		"label": "Power Down",
		"tooltip": "",
		"color": "",
		"bgcolor": "",
		"icon": "",
		"payload": "",
		"payloadType": "date",
		"topic": "",
		"x": 90,
		"y": 600,
		"wires": [
			[
				"226f680e.8e134"
			]
		]
	},
	{
		"id": "1f3cb900.b544a7",
		"type": "ui_button",
		"z": "ea8c566e.d355c",
		"name": "",
		"group": "a702fd9b.20a668",
		"order": 3,
		"width": "3",
		"height": "1",
		"passthru": false,
		"label": "Power Up",
		"tooltip": "",
		"color": "",
		"bgcolor": "",
		"icon": "",
		"payload": "",
		"payloadType": "date",
		"topic": "",
		"x": 100,
		"y": 460,
		"wires": [
			[
				"b6ebeb7c.b4c1d8"
			]
		]
	},
	{
		"id": "dee712c8.2cd04",
		"type": "mqtt out",
		"z": "ea8c566e.d355c",
		"name": "",
		"topic": "/train/actuators/brakeIncrease",
		"qos": "",
		"retain": "",
		"broker": "639a45f0.dff854",
		"x": 1010,
		"y": 400,
		"wires": []
	},
	{
		"id": "7df3451f.2be684",
		"type": "mqtt out",
		"z": "ea8c566e.d355c",
		"name": "",
		"topic": "/train/actuators/brakeDecrease",
		"qos": "",
		"retain": "",
		"broker": "639a45f0.dff854",
		"x": 1010,
		"y": 460,
		"wires": []
	},
	{
		"id": "3953babd.db3366",
		"type": "mqtt out",
		"z": "ea8c566e.d355c",
		"name": "",
		"topic": "/train/actuators/doorsLeft",
		"qos": "",
		"retain": "",
		"broker": "639a45f0.dff854",
		"x": 990,
		"y": 220,
		"wires": []
	},
	{
		"id": "2b3aeba1.6586ac",
		"type": "mqtt out",
		"z": "ea8c566e.d355c",
		"name": "",
		"topic": "/train/actuators/doorsRight",
		"qos": "",
		"retain": "",
		"broker": "639a45f0.dff854",
		"x": 1000,
		"y": 280,
		"wires": []
	},
	{
		"id": "8e4f363d.30001",
		"type": "ui_button",
		"z": "ea8c566e.d355c",
		"name": "",
		"group": "200069bc.161bae",
		"order": 3,
		"width": "3",
		"height": "1",
		"passthru": false,
		"label": "Brake +",
		"tooltip": "",
		"color": "",
		"bgcolor": "",
		"icon": "",
		"payload": "",
		"payloadType": "date",
		"topic": "",
		"x": 740,
		"y": 400,
		"wires": [
			[
				"dee712c8.2cd04"
			]
		]
	},
	{
		"id": "343a27cc.bb4f5",
		"type": "ui_button",
		"z": "ea8c566e.d355c",
		"name": "",
		"group": "200069bc.161bae",
		"order": 2,
		"width": "3",
		"height": "1",
		"passthru": false,
		"label": "Brake -",
		"tooltip": "",
		"color": "",
		"bgcolor": "",
		"icon": "",
		"payload": "",
		"payloadType": "date",
		"topic": "",
		"x": 740,
		"y": 460,
		"wires": [
			[
				"7df3451f.2be684"
			]
		]
	},
	{
		"id": "2d6f9f7.72ebe6",
		"type": "ui_button",
		"z": "ea8c566e.d355c",
		"name": "",
		"group": "a9af0f8a.4ddbd8",
		"order": 2,
		"width": "3",
		"height": "1",
		"passthru": false,
		"label": "Doors left",
		"tooltip": "",
		"color": "",
		"bgcolor": "",
		"icon": "",
		"payload": "",
		"payloadType": "date",
		"topic": "",
		"x": 740,
		"y": 220,
		"wires": [
			[
				"3953babd.db3366"
			]
		]
	},
	{
		"id": "e73c489e.fb76",
		"type": "ui_button",
		"z": "ea8c566e.d355c",
		"name": "",
		"group": "a9af0f8a.4ddbd8",
		"order": 2,
		"width": "3",
		"height": "1",
		"passthru": false,
		"label": "Doors Right",
		"tooltip": "",
		"color": "",
		"bgcolor": "",
		"icon": "",
		"payload": "",
		"payloadType": "date",
		"topic": "",
		"x": 750,
		"y": 280,
		"wires": [
			[
				"2b3aeba1.6586ac"
			]
		]
	},
	{
		"id": "d9f286cd.c95d2",
		"type": "mqtt out",
		"z": "ea8c566e.d355c",
		"name": "",
		"topic": "/train/actuators/reverserForward",
		"qos": "",
		"retain": "",
		"broker": "639a45f0.dff854",
		"x": 380,
		"y": 420,
		"wires": []
	},
	{
		"id": "64cd06d5.6eb23",
		"type": "ui_button",
		"z": "ea8c566e.d355c",
		"name": "",
		"group": "a702fd9b.20a668",
		"order": 4,
		"width": "3",
		"height": "1",
		"passthru": false,
		"label": "Forward",
		"tooltip": "",
		"color": "",
		"bgcolor": "",
		"icon": "",
		"payload": "",
		"payloadType": "date",
		"topic": "",
		"x": 100,
		"y": 420,
		"wires": [
			[
				"d9f286cd.c95d2"
			]
		]
	},
	{
		"id": "123d6e64.72835a",
		"type": "mqtt in",
		"z": "ea8c566e.d355c",
		"name": "",
		"topic": "/train/sensors/brake",
		"qos": "0",
		"datatype": "auto",
		"broker": "639a45f0.dff854",
		"x": 770,
		"y": 540,
		"wires": [
			[
				"ef00a9be.d19d88",
				"c3e0b921.a9ba48"
			]
		]
	},
	{
		"id": "2276cb7c.e13324",
		"type": "mqtt in",
		"z": "ea8c566e.d355c",
		"name": "",
		"topic": "/train/sensors/doorsLeft",
		"qos": "0",
		"datatype": "auto",
		"broker": "639a45f0.dff854",
		"x": 780,
		"y": 100,
		"wires": [
			[
				"8669de05.698248"
			]
		]
	},
	{
		"id": "631a69ed.e49f3",
		"type": "mqtt in",
		"z": "ea8c566e.d355c",
		"name": "",
		"topic": "/train/sensors/doorsRight",
		"qos": "0",
		"datatype": "auto",
		"broker": "639a45f0.dff854",
		"x": 790,
		"y": 160,
		"wires": [
			[
				"2e11d3d0.b3fa84"
			]
		]
	},
	{
		"id": "8669de05.698248",
		"type": "ui_text",
		"z": "ea8c566e.d355c",
		"group": "a9af0f8a.4ddbd8",
		"order": 2,
		"width": 0,
		"height": 0,
		"name": "",
		"label": "Door left :",
		"format": "{{msg.payload}}",
		"layout": "row-left",
		"x": 1000,
		"y": 100,
		"wires": []
	},
	{
		"id": "2e11d3d0.b3fa84",
		"type": "ui_text",
		"z": "ea8c566e.d355c",
		"group": "a9af0f8a.4ddbd8",
		"order": 2,
		"width": 0,
		"height": 0,
		"name": "",
		"label": "Door Right :",
		"format": "{{msg.payload}}",
		"layout": "row-left",
		"x": 1010,
		"y": 160,
		"wires": []
	},
	{
		"id": "97496863.30112",
		"type": "mqtt in",
		"z": "ea8c566e.d355c",
		"name": "",
		"topic": "/train/infos/speedLimit",
		"qos": "0",
		"datatype": "auto",
		"broker": "639a45f0.dff854",
		"x": 140,
		"y": 240,
		"wires": [
			[
				"881921a.c20016",
				"b859db10.713d5"
			]
		]
	},
	{
		"id": "881921a.c20016",
		"type": "ui_text",
		"z": "ea8c566e.d355c",
		"group": "93aed373.e892f8",
		"order": 2,
		"width": 0,
		"height": 0,
		"name": "",
		"label": "Limit :",
		"format": "{{msg.payload}}",
		"layout": "row-spread",
		"x": 350,
		"y": 220,
		"wires": []
	},
	{
		"id": "3f1ea520.98d0f2",
		"type": "mqtt in",
		"z": "ea8c566e.d355c",
		"name": "",
		"topic": "/train/infos/distanceToNextStation",
		"qos": "2",
		"datatype": "auto",
		"broker": "639a45f0.dff854",
		"x": 170,
		"y": 800,
		"wires": [
			[
				"26b15ce1.8c0c4c"
			]
		]
	},
	{
		"id": "26b15ce1.8c0c4c",
		"type": "function",
		"z": "ea8c566e.d355c",
		"name": "split string",
		"func": "var res = msg.payload.replace(/\\s+/g, '').split(\";\");\nmsg.payload = res\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"x": 390,
		"y": 800,
		"wires": [
			[
				"51d3b751.a6f1a8"
			]
		]
	},
	{
		"id": "ec72fb4b.f407e8",
		"type": "comment",
		"z": "ea8c566e.d355c",
		"name": "Speed",
		"info": "",
		"x": 70,
		"y": 60,
		"wires": []
	},
	{
		"id": "ef00a9be.d19d88",
		"type": "ui_gauge",
		"z": "ea8c566e.d355c",
		"name": "",
		"group": "200069bc.161bae",
		"order": 1,
		"width": 0,
		"height": 0,
		"gtype": "gage",
		"title": "Brakes",
		"label": "units",
		"format": "{{value}}",
		"min": 0,
		"max": "5",
		"colors": [
			"#00b500",
			"#e6e600",
			"#ca3838"
		],
		"seg1": "",
		"seg2": "",
		"x": 940,
		"y": 520,
		"wires": []
	},
	{
		"id": "51d3b751.a6f1a8",
		"type": "ui_list",
		"z": "ea8c566e.d355c",
		"group": "3092e1cf.da6b1e",
		"name": "",
		"order": 3,
		"width": 0,
		"height": 0,
		"lineType": "two",
		"actionType": "none",
		"allowHTML": false,
		"outputs": 0,
		"topic": "",
		"x": 530,
		"y": 800,
		"wires": []
	},
	{
		"id": "cc4f5d50.061258",
		"type": "ui_text",
		"z": "ea8c566e.d355c",
		"group": "3092e1cf.da6b1e",
		"order": 2,
		"width": 0,
		"height": 0,
		"name": "",
		"label": "Train stations (distances)",
		"format": "{{msg.payload}}",
		"layout": "row-spread",
		"x": 150,
		"y": 760,
		"wires": []
	},
	{
		"id": "3dcf5d79.30fdaa",
		"type": "mqtt in",
		"z": "ea8c566e.d355c",
		"name": "",
		"topic": "/train/sensors/soundsPlaying",
		"qos": "0",
		"datatype": "auto",
		"broker": "639a45f0.dff854",
		"x": 160,
		"y": 700,
		"wires": [
			[
				"b2a88135.fcfe08"
			]
		]
	},
	{
		"id": "2395be91.cffb92",
		"type": "mqtt in",
		"z": "ea8c566e.d355c",
		"name": "",
		"topic": "/train/sensors/power",
		"qos": "0",
		"datatype": "auto",
		"broker": "639a45f0.dff854",
		"x": 130,
		"y": 360,
		"wires": [
			[
				"20910922.febeee",
				"a949177b.785a78"
			]
		]
	},
	{
		"id": "20910922.febeee",
		"type": "ui_gauge",
		"z": "ea8c566e.d355c",
		"name": "",
		"group": "a702fd9b.20a668",
		"order": 1,
		"width": 0,
		"height": 0,
		"gtype": "gage",
		"title": "Power",
		"label": "units",
		"format": "{{value}}",
		"min": 0,
		"max": "5",
		"colors": [
			"#00b500",
			"#e6e600",
			"#ca3838"
		],
		"seg1": "",
		"seg2": "",
		"x": 330,
		"y": 340,
		"wires": []
	},
	{
		"id": "b2a88135.fcfe08",
		"type": "ui_text",
		"z": "ea8c566e.d355c",
		"group": "3092e1cf.da6b1e",
		"order": 1,
		"width": 0,
		"height": 0,
		"name": "",
		"label": "Nb of Sounds : ",
		"format": "{{msg.payload}}",
		"layout": "row-left",
		"x": 380,
		"y": 700,
		"wires": []
	},
	{
		"id": "b8aafb29.152af8",
		"type": "comment",
		"z": "ea8c566e.d355c",
		"name": "Power",
		"info": "",
		"x": 70,
		"y": 320,
		"wires": []
	},
	{
		"id": "be8ed7bc.f9c27",
		"type": "comment",
		"z": "ea8c566e.d355c",
		"name": "General Infos",
		"info": "",
		"x": 90,
		"y": 660,
		"wires": []
	},
	{
		"id": "9dbe46a5.076538",
		"type": "comment",
		"z": "ea8c566e.d355c",
		"name": "Doors",
		"info": "",
		"x": 710,
		"y": 60,
		"wires": []
	},
	{
		"id": "94a39be3.a33658",
		"type": "comment",
		"z": "ea8c566e.d355c",
		"name": "Brakes",
		"info": "",
		"x": 710,
		"y": 360,
		"wires": []
	},
	{
		"id": "740150a2.75dc38",
		"type": "mosca in",
		"z": "ea8c566e.d355c",
		"mqtt_port": 1883,
		"mqtt_ws_port": 8080,
		"name": "",
		"username": "",
		"password": "",
		"dburl": "",
		"x": 110,
		"y": 20,
		"wires": [
			[]
		]
	},
	{
		"id": "83a92707.a702e",
		"type": "mqtt in",
		"z": "e36ddb59.9c3dc8",
		"name": "",
		"topic": "/train/sensors/currentSpeed",
		"qos": "0",
		"datatype": "auto",
		"broker": "639a45f0.dff854",
		"x": 160,
		"y": 80,
		"wires": [
			[
				"71ad146b.01031c"
			]
		]
	},
	{
		"id": "8453293e.5df6c8",
		"type": "mqtt in",
		"z": "e36ddb59.9c3dc8",
		"name": "",
		"topic": "/train/infos/speedLimit",
		"qos": "0",
		"datatype": "auto",
		"broker": "639a45f0.dff854",
		"x": 140,
		"y": 140,
		"wires": [
			[
				"a2661e00.76aef"
			]
		]
	},
	{
		"id": "83540540.5f9b1",
		"type": "mqtt in",
		"z": "e36ddb59.9c3dc8",
		"name": "",
		"topic": "/train/sensors/behaviouralDrift",
		"qos": "2",
		"datatype": "auto",
		"broker": "639a45f0.dff854",
		"x": 160,
		"y": 240,
		"wires": [
			[
				"7891ac1d.ac6a54"
			]
		]
	},
	{
		"id": "5d0a817b.27f928",
		"type": "comment",
		"z": "e36ddb59.9c3dc8",
		"name": "Drift",
		"info": "",
		"x": 70,
		"y": 200,
		"wires": []
	},
	{
		"id": "7891ac1d.ac6a54",
		"type": "ui_chart",
		"z": "e36ddb59.9c3dc8",
		"name": "",
		"group": "ba91c79a.2c127",
		"order": 3,
		"width": 0,
		"height": 0,
		"label": "Behavioural Drift",
		"chartType": "line",
		"legend": "false",
		"xformat": "HH:mm:ss",
		"interpolate": "linear",
		"nodata": "",
		"dot": false,
		"ymin": "0",
		"ymax": "1",
		"removeOlder": 1,
		"removeOlderPoints": "",
		"removeOlderUnit": "3600",
		"cutout": 0,
		"useOneColor": false,
		"useUTC": false,
		"colors": [
			"#1f77b4",
			"#aec7e8",
			"#ff7f0e",
			"#2ca02c",
			"#98df8a",
			"#d62728",
			"#ff9896",
			"#9467bd",
			"#c5b0d5"
		],
		"useOldStyle": false,
		"outputs": 1,
		"x": 420,
		"y": 240,
		"wires": [
			[]
		]
	},
	{
		"id": "d1cb786c.f9e75",
		"type": "comment",
		"z": "e36ddb59.9c3dc8",
		"name": "Speed",
		"info": "",
		"x": 70,
		"y": 40,
		"wires": []
	},
	{
		"id": "71ad146b.01031c",
		"type": "delay",
		"z": "e36ddb59.9c3dc8",
		"name": "",
		"pauseType": "rate",
		"timeout": "5",
		"timeoutUnits": "seconds",
		"rate": "1",
		"nbRateUnits": "1",
		"rateUnits": "second",
		"randomFirst": "1",
		"randomLast": "5",
		"randomUnits": "seconds",
		"drop": true,
		"x": 370,
		"y": 80,
		"wires": [
			[
				"14e0c8fb.d35297"
			]
		]
	},
	{
		"id": "a2661e00.76aef",
		"type": "delay",
		"z": "e36ddb59.9c3dc8",
		"name": "",
		"pauseType": "rate",
		"timeout": "5",
		"timeoutUnits": "seconds",
		"rate": "1",
		"nbRateUnits": "1",
		"rateUnits": "second",
		"randomFirst": "1",
		"randomLast": "5",
		"randomUnits": "seconds",
		"drop": true,
		"x": 370,
		"y": 140,
		"wires": [
			[
				"14e0c8fb.d35297"
			]
		]
	},
	{
		"id": "14e0c8fb.d35297",
		"type": "ui_chart",
		"z": "e36ddb59.9c3dc8",
		"name": "",
		"group": "ba91c79a.2c127",
		"order": 1,
		"width": 0,
		"height": 0,
		"label": "Speed",
		"chartType": "line",
		"legend": "false",
		"xformat": "HH:mm:ss",
		"interpolate": "linear",
		"nodata": "",
		"dot": false,
		"ymin": "",
		"ymax": "",
		"removeOlder": 1,
		"removeOlderPoints": "",
		"removeOlderUnit": "3600",
		"cutout": 0,
		"useOneColor": false,
		"useUTC": false,
		"colors": [
			"#1f77b4",
			"#d62728",
			"#ff7f0e",
			"#2ca02c",
			"#98df8a",
			"#d62728",
			"#ff9896",
			"#9467bd",
			"#c5b0d5"
		],
		"useOldStyle": false,
		"outputs": 1,
		"x": 560,
		"y": 120,
		"wires": [
			[]
		]
	},
	{
		"id": "1ee9f614.4375b2",
		"type": "delay",
		"z": "ea8c566e.d355c",
		"name": "",
		"pauseType": "rate",
		"timeout": "5",
		"timeoutUnits": "seconds",
		"rate": "1",
		"nbRateUnits": "1",
		"rateUnits": "second",
		"randomFirst": "1",
		"randomLast": "5",
		"randomUnits": "seconds",
		"drop": true,
		"x": 370,
		"y": 180,
		"wires": [
			[
				"7ffc8965.cb37b"
			]
		]
	},
	{
		"id": "b859db10.713d5",
		"type": "delay",
		"z": "ea8c566e.d355c",
		"name": "",
		"pauseType": "rate",
		"timeout": "5",
		"timeoutUnits": "seconds",
		"rate": "1",
		"nbRateUnits": "1",
		"rateUnits": "second",
		"randomFirst": "1",
		"randomLast": "5",
		"randomUnits": "seconds",
		"drop": true,
		"x": 370,
		"y": 260,
		"wires": [
			[
				"7ffc8965.cb37b"
			]
		]
	},
	{
		"id": "7ffc8965.cb37b",
		"type": "ui_chart",
		"z": "ea8c566e.d355c",
		"name": "",
		"group": "93aed373.e892f8",
		"order": 3,
		"width": 0,
		"height": 0,
		"label": "Speed",
		"chartType": "line",
		"legend": "false",
		"xformat": "HH:mm:ss",
		"interpolate": "linear",
		"nodata": "",
		"dot": false,
		"ymin": "",
		"ymax": "",
		"removeOlder": "15",
		"removeOlderPoints": "",
		"removeOlderUnit": "60",
		"cutout": 0,
		"useOneColor": false,
		"useUTC": false,
		"colors": [
			"#1f77b4",
			"#ea2728",
			"#ff7f0e",
			"#2ca02c",
			"#98df8a",
			"#d62728",
			"#ff9896",
			"#9467bd",
			"#c5b0d5"
		],
		"useOldStyle": false,
		"outputs": 1,
		"x": 510,
		"y": 220,
		"wires": [
			[]
		]
	},
	{
		"id": "aef8bcc5.90e608",
		"type": "ui_chart",
		"z": "ea8c566e.d355c",
		"name": "",
		"group": "93aed373.e892f8",
		"order": 4,
		"width": 0,
		"height": 0,
		"label": "Power",
		"chartType": "line",
		"legend": "false",
		"xformat": "HH:mm:ss",
		"interpolate": "linear",
		"nodata": "",
		"dot": false,
		"ymin": "",
		"ymax": "",
		"removeOlder": "15",
		"removeOlderPoints": "",
		"removeOlderUnit": "60",
		"cutout": 0,
		"useOneColor": false,
		"useUTC": false,
		"colors": [
			"#1f77b4",
			"#aec7e8",
			"#ff7f0e",
			"#2ca02c",
			"#98df8a",
			"#d62728",
			"#ff9896",
			"#9467bd",
			"#c5b0d5"
		],
		"useOldStyle": false,
		"outputs": 1,
		"x": 510,
		"y": 380,
		"wires": [
			[]
		]
	},
	{
		"id": "cb1db42a.11fc5",
		"type": "ui_chart",
		"z": "ea8c566e.d355c",
		"name": "",
		"group": "93aed373.e892f8",
		"order": 5,
		"width": 0,
		"height": 0,
		"label": "Brakes",
		"chartType": "line",
		"legend": "false",
		"xformat": "HH:mm:ss",
		"interpolate": "linear",
		"nodata": "",
		"dot": false,
		"ymin": "",
		"ymax": "",
		"removeOlder": "15",
		"removeOlderPoints": "",
		"removeOlderUnit": "60",
		"cutout": 0,
		"useOneColor": false,
		"useUTC": false,
		"colors": [
			"#1f77b4",
			"#aec7e8",
			"#ff7f0e",
			"#2ca02c",
			"#98df8a",
			"#d62728",
			"#ff9896",
			"#9467bd",
			"#c5b0d5"
		],
		"useOldStyle": false,
		"outputs": 1,
		"x": 1100,
		"y": 560,
		"wires": [
			[]
		]
	},
	{
		"id": "a949177b.785a78",
		"type": "delay",
		"z": "ea8c566e.d355c",
		"name": "",
		"pauseType": "rate",
		"timeout": "5",
		"timeoutUnits": "seconds",
		"rate": "1",
		"nbRateUnits": "1",
		"rateUnits": "second",
		"randomFirst": "1",
		"randomLast": "5",
		"randomUnits": "seconds",
		"drop": true,
		"x": 350,
		"y": 380,
		"wires": [
			[
				"aef8bcc5.90e608"
			]
		]
	},
	{
		"id": "c3e0b921.a9ba48",
		"type": "delay",
		"z": "ea8c566e.d355c",
		"name": "",
		"pauseType": "rate",
		"timeout": "5",
		"timeoutUnits": "seconds",
		"rate": "1",
		"nbRateUnits": "1",
		"rateUnits": "second",
		"randomFirst": "1",
		"randomLast": "5",
		"randomUnits": "seconds",
		"drop": true,
		"x": 950,
		"y": 560,
		"wires": [
			[
				"cb1db42a.11fc5"
			]
		]
	}
]